openapi: 3.0.3
info:
  title: Watchwise API
  description: >
    API do Watchwise — plataforma para acompanhar, avaliar e comentar
    filmes, séries e episódios.

    Filmes, séries, elenco e premiações NÃO são armazenados no banco:
    seus dados vêm sempre da API do TMDB. O backend guarda apenas uma
    referência leve (tmdbId + tipo) para cada conteúdo que o usuário
    interage (comenta, avalia, loga, adiciona a listas, etc), usada
    como chave interna para conectar essas interações.
  version: "0.3.0"

servers:
  - url: https://api.watchwise.app/v1
    description: Produção (placeholder)

tags:
  - name: Auth
  - name: Users
  - name: Followers
  - name: Follow People
  - name: Top5
  - name: Watchlist
  - name: Dropped
  - name: Content
  - name: Comments
  - name: Lists
  - name: Diary
  - name: Likes
  - name: Notifications
  - name: Search
  - name: Feed

security:
  - cookieAuth: []

paths:

  # ---------- AUTH ----------
  /auth/register:
    post:
      tags: [Auth]
      summary: Criar conta
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username: { type: string, minLength: 3, maxLength: 60 }
                email: { type: string, format: email, minLength: 11, maxLength: 60 }
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 255
                  description: Deve conter ao menos uma letra maiúscula, uma minúscula e um dígito.
                description:
                  type: string
                  maxLength: 280
                  description: Biografia/descrição de perfil, definida pelo próprio usuário. Opcional no cadastro.
                profilePicture:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: URL da foto de perfil escolhida pelo usuário. Opcional no cadastro; assume uma imagem padrão se omitido.
                banner:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: URL do banner de perfil escolhido pelo usuário. Opcional no cadastro; sem valor default (nulo se omitido).
                isProfilePublic:
                  type: boolean
                  default: true
                  description: Se o perfil é público ou privado. Escolha do usuário; assume público se omitido.
      responses:
        "201":
          description: >
            Conta criada. Cookies HttpOnly de access token e refresh
            token, e o cookie CSRF (XSRF-TOKEN), são emitidos na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "400":
          description: Dados inválidos (falha de validação)
        "409":
          description: Username ou email já cadastrado, ou sessão já autenticada
        "429":
          description: >
            Muitas tentativas de cadastro vindas desse IP. Tente
            novamente após o período configurado.

  /auth/login:
    post:
      tags: [Auth]
      summary: Login com username ou email
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier:
                  type: string
                  description: Username ou email cadastrado.
                password: { type: string, format: password }
      responses:
        "200":
          description: >
            Login realizado. Cookies HttpOnly de access token e refresh
            token, e o cookie CSRF (XSRF-TOKEN), são emitidos na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401":
          description: Credenciais inválidas
        "409":
          description: Sessão já autenticada
        "429":
          description: >
            Muitas tentativas de login sem sucesso para essa combinação
            de IP e identifier. Tente novamente após o período de bloqueio.

  /auth/logout:
    post:
      tags: [Auth]
      summary: Encerrar sessão
      description: >
        Revoga o refresh token do cookie httpOnly no banco (se presente e
        reconhecido) e limpa os cookies de access token, refresh token e
        CSRF. Idempotente — sempre limpa os cookies mesmo sem refresh
        token válido.
      security: []
      responses:
        "204":
          description: Sessão encerrada; cookies de access, refresh e CSRF limpos

  /auth/logout-all:
    post:
      tags: [Auth]
      summary: Encerrar sessão em todos os dispositivos
      description: >
        Revoga todos os refresh tokens do usuário autenticado (não só o do
        dispositivo atual) e limpa os cookies de access token, refresh
        token e CSRF do dispositivo que fez a chamada. Exige o cookie CSRF
        (XSRF-TOKEN) ecoado no header X-XSRF-TOKEN.
      responses:
        "204":
          description: Sessão encerrada em todos os dispositivos; cookies de access, refresh e CSRF limpos
        "401":
          description: Não autenticado
        "403":
          description: Cookie ou header CSRF ausente ou inválido

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renovar sessão
      description: >
        Lê o refresh token do cookie httpOnly, valida e rotaciona-o
        (o token usado é revogado e um novo par de cookies é emitido).
        Não recebe corpo de requisição — a autenticação é feita via cookie.
      security: []
      responses:
        "204":
          description: Sessão renovada; novos cookies de access e refresh token emitidos
        "401":
          description: Refresh token ausente, inválido, expirado ou revogado
        "429":
          description: >
            Muitas chamadas de refresh vindas desse IP. Tente novamente
            após o período configurado.

  /auth/oauth/{provider}:
    post:
      tags: [Auth]
      summary: Login via OAuth (ex Google)
      description: >
        Autentica um usuário já cadastrado, a partir de um e-mail
        confirmado pelo provedor OAuth. Não registra conta nova: se não
        existir um usuário local com esse e-mail, o cadastro segue pelo
        fluxo tradicional em POST /auth/register (o frontend pode
        pré-preencher o campo email com o valor devolvido no 404). Uma
        conta com o mesmo e-mail é vinculada automaticamente,
        independentemente de ter sido criada originalmente pelo
        cadastro tradicional ou por um login OAuth anterior.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: "Token OAuth do provedor" }
      responses:
        "400":
          description: Provider fora do enum aceito (hoje só google)
        "200":
          description: >
            Login realizado — já existia um usuário local com o e-mail
            confirmado pelo provedor. Cookies HttpOnly de access token
            e refresh token, e o cookie CSRF (XSRF-TOKEN), são emitidos
            na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401":
          description: >
            Token do provedor inválido ou expirado, ou o e-mail
            retornado pelo provedor não é verificado
            (email_verified = false).
        "404":
          description: >
            Nenhum usuário local tem esse e-mail. O corpo traz o e-mail
            confirmado pelo provedor, para o frontend pré-preencher a
            tela de cadastro (POST /auth/register).
          content:
            application/json:
              schema:
                type: object
                properties:
                  email: { type: string, format: email }
        "409":
          description: Sessão já autenticada
        "429":
          description: >
            Muitas tentativas de login via OAuth vindas desse IP. Tente
            novamente após o período configurado.

  # ---------- USERS ----------
  /users:
    get:
      tags: [Users]
      summary: Buscar usuários por username
      description: >
        Retorna os usuários cujo username começa com o texto pesquisado
        (case-insensitive), paginado, com resultados de correspondência
        exata primeiro. Perfis privados também aparecem no resultado —
        como cada item traz apenas uma prévia (foto, username e se o
        perfil é público ou privado), nenhum dado restrito é exposto
        aqui. O acesso aos dados completos de um perfil privado segue
        as regras normais em GET /users/{userId}. Exige autenticação,
        como qualquer outra rota fora da discover (ver Access policy
        no CLAUDE.md).
      parameters:
        - name: username
          in: query
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/UserPreviewDTO" }
        "400": { description: Username ausente ou em branco }
        "401": { description: Não autenticado }
        "429": { description: "Muitas requisições de busca/consulta de perfil vindas desse usuário (bucket compartilhado com GET /users/{userId})" }

  /users/me:
    get:
      tags: [Users]
      summary: Obter usuário autenticado
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401": { description: Não autenticado }
        "404": { description: "Conta apagada em outra sessão entre a emissão do token e esta requisição" }
    patch:
      tags: [Users]
      summary: Atualizar perfil do usuário autenticado
      description: >
        Todos os campos são opcionais; apenas os enviados são alterados.
        Exige o cookie CSRF (XSRF-TOKEN) ecoado no header X-XSRF-TOKEN.
        Trocar `password` ou `email` exige `currentPassword` com a senha
        atual, como confirmação — os demais campos não exigem. Trocar
        `password` ou `email` também revoga todos os refresh tokens do
        usuário (mesmo efeito de `POST /auth/logout-all`), inclusive os de
        outras sessões/dispositivos.
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PatchUserDTO" }
      responses:
        "200":
          description: Atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "400": { description: "Dados inválidos (falha de validação), ou currentPassword ausente ao trocar password/email" }
        "401": { description: "Não autenticado, ou currentPassword incorreto ao trocar password/email" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Conta apagada em outra sessão entre a emissão do token e esta requisição" }
        "409": { description: Username ou email já cadastrado }
        "429": { description: "Muitas tentativas de currentPassword incorreto ao trocar password/email. Tente novamente após o período configurado." }
    delete:
      tags: [Users]
      summary: Excluir a própria conta
      description: >
        Exclusão permanente da conta do usuário autenticado. Exige a
        senha atual como confirmação, já que é uma ação irreversível.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        "204": { description: Conta excluída }
        "400": { description: Senha ausente ou em branco }
        "401": { description: "Senha incorreta, ou não autenticado" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Conta já apagada em outra sessão entre a emissão do token e esta requisição" }
        "429": { description: "Muitas tentativas de senha incorreta. Tente novamente após o período configurado." }

  /users/{userId}:
    get:
      tags: [Users]
      summary: Obter perfil público de um usuário
      description: >
        Retorna o perfil público do usuário (sem email). Se o perfil for
        privado, retorna 403 — o acesso aos dados completos de um perfil
        privado ainda não é suportado. Exige autenticação, como qualquer
        outra rota fora da discover (ver Access policy no CLAUDE.md); a
        privacidade do perfil (403 quando privado) é decidida pelo dono
        do perfil, não por quem está olhando estar logado ou não.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicUserProfileDTO" }
        "400": { description: userId não é um UUID válido }
        "401": { description: Não autenticado }
        "403": { description: Perfil privado }
        "404": { description: Não encontrado }
        "429": { description: "Muitas requisições de busca/consulta de perfil vindas desse usuário (bucket compartilhado com GET /users)" }

  /users/{userId}/followers:
    get:
      tags: [Followers]
      summary: Listar seguidores de um usuário
      description: >
        Se o perfil de {userId} for público, qualquer usuário autenticado
        pode ver a lista. Se for privado, só o próprio dono do perfil ou
        quem já o segue de verdade (relação com status ACCEPTED) pode
        ver — do contrário, 403. Só aparecem seguidores com status
        ACCEPTED (solicitações pendentes não contam).
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/PublicUserDTO" }
        "400": { description: "Número ou tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/following:
    get:
      tags: [Followers]
      summary: Listar quem o usuário segue
      description: >
        Mesma regra de acesso de GET /users/{userId}/followers. Só
        aparecem relações com status ACCEPTED.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/PublicUserDTO" }
        "400": { description: "Número ou tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/follow:
    post:
      tags: [Followers]
      summary: Seguir um usuário (ou solicitar, se o perfil for privado)
      description: >
        Se o perfil de {userId} for público, a relação nasce já como
        seguindo (status ACCEPTED). Se for privado, nasce como
        solicitação pendente (status PENDING) — só vira seguidor de
        verdade quando o dono do perfil aceitar em
        POST /users/me/follow-requests/{requesterId}/accept.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: >
            Relação criada. O corpo indica se já ficou seguindo ou se a
            solicitação ficou pendente de aceite.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [PENDING, ACCEPTED] }
        "400": { description: "Tentativa de seguir a si mesmo, ou userId não é um UUID válido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Usuário-alvo não encontrado }
        "409": { description: Já segue ou já solicitou seguir esse usuário }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
    delete:
      tags: [Followers]
      summary: Deixar de seguir um usuário (ou cancelar solicitação pendente)
      description: >
        Funciona tanto para desfazer um follow já aceito quanto para
        cancelar uma solicitação ainda pendente — as duas situações são
        a mesma linha na tabela, só muda o status.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "204": { description: "Deixou de seguir, ou solicitação cancelada" }
        "400": { description: userId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Relação (seguindo ou solicitação) não existia }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }

  /users/me/follow-requests:
    get:
      tags: [Followers]
      summary: Listar solicitações de seguir pendentes recebidas
      description: >
        Solicitações (status PENDING) que outros usuários enviaram pra
        seguir o usuário autenticado, aguardando aceite ou recusa.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/PublicUserDTO" }
        "400": { description: Número ou tamanho de página inválido }

  /users/me/follow-requests/{requesterId}/accept:
    post:
      tags: [Followers]
      summary: Aceitar uma solicitação de seguir pendente
      parameters:
        - $ref: "#/components/parameters/requesterId"
      responses:
        "204": { description: Solicitação aceita — status vira ACCEPTED }
        "400": { description: requesterId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Não existe solicitação pendente desse usuário }

  /users/me/follow-requests/{requesterId}:
    delete:
      tags: [Followers]
      summary: Recusar uma solicitação de seguir pendente
      parameters:
        - $ref: "#/components/parameters/requesterId"
      responses:
        "204": { description: Solicitação recusada e removida }
        "400": { description: requesterId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Não existe solicitação pendente desse usuário }

  /users/me/follow-people/{personTmdbId}:
    post:
      tags: [Follow People]
      summary: Seguir um ator, diretor ou roteirista (referenciado pelo TMDB)
      description: >
        Sempre em nome do usuário autenticado — não existe conceito de
        "solicitar" ou "seguir em nome de outro usuário" aqui, diferente
        de POST /users/{userId}/follow. Idempotente: seguir uma pessoa
        já seguida não é erro.
      parameters:
        - $ref: "#/components/parameters/personTmdbId"
      responses:
        "204": { description: Seguindo }
        "400": { description: personTmdbId não é numérico, ou tem mais de 20 dígitos }
        "403": { description: Cookie CSRF ausente ou inválido }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
    delete:
      tags: [Follow People]
      summary: Deixar de seguir uma pessoa
      description: >
        Sempre em nome do usuário autenticado. Idempotente: deixar de
        seguir quem não era seguido não é erro.
      parameters:
        - $ref: "#/components/parameters/personTmdbId"
      responses:
        "204": { description: Deixou de seguir }
        "400": { description: personTmdbId não é numérico, ou tem mais de 20 dígitos }
        "403": { description: Cookie CSRF ausente ou inválido }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }

  /users/{userId}/follow-people:
    get:
      tags: [Follow People]
      summary: Listar pessoas do TMDB que um usuário segue
      description: >
        Mesma regra de acesso de GET /users/{userId}/followers: se o
        perfil de {userId} for público, ou se for o próprio dono do
        perfil, qualquer usuário autenticado pode ver a lista; se for
        privado, só quem já o segue de verdade (relação com status
        ACCEPTED) pode ver — do contrário, 403. Como pessoas do TMDB
        não são armazenadas localmente, a resposta traz só os
        personTmdbId seguidos, sem dados de nome/foto.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { type: string }
        "400": { description: "Número ou tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/top5/{type}:
    get:
      tags: [Top5]
      summary: Obter o Top 5 de filmes ou séries do usuário
      description: >
        type só aceita MOVIE ou SERIES — SEASON/EPISODE não são válidos para Top 5. Mesma regra
        de acesso de GET /users/{userId}/followers: se o perfil de {userId} for público, ou se
        for o próprio dono do perfil, qualquer usuário autenticado pode ver; se for privado, só
        quem já o segue de verdade (relação com status ACCEPTED) pode ver — do contrário, 403.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/top5Type"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                maxItems: 5
                items: { $ref: "#/components/schemas/Top5Entry" }
        "400": { description: "type não é MOVIE nem SERIES, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/me/top5/{type}:
    post:
      tags: [Top5]
      summary: Inserir um conteúdo no Top 5 do usuário autenticado
      description: >
        Insere content na posição position, empurrando as posições seguintes uma casa para
        baixo — o que estiver na posição 5 é removido do Top 5. position é opcional enquanto
        houver menos de 5 entradas (insere na próxima posição livre); se já houver 5, é
        obrigatório. Um conteúdo já presente no Top 5 não pode ser inserido de novo (409) —
        não existe operação de "mover", só inserir/remover. Diferente de outros endpoints que
        recebem conteúdo (comentários, itens de lista, diário), aqui basta o tmdbId: o type
        já vem fixado no path e só MOVIE/SERIES são aceitos, então os campos de
        SEASON/EPISODE de ContentRefCreation nunca se aplicariam a essa rota.
      parameters:
        - $ref: "#/components/parameters/top5Type"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tmdbId]
              properties:
                tmdbId: { type: string }
                position: { type: integer, minimum: 1, maximum: 5, nullable: true }
                customPosterUrl: { type: string, format: uri, nullable: true }
      responses:
        "201":
          description: Inserido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Top5Entry" }
        "400":
          description: >
            type não é MOVIE nem SERIES, ou position é obrigatório porque o Top 5 já tem 5
            entradas, ou position é maior que a próxima posição livre (count + 1), ou tmdbId
            ausente/inválido.
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Esse tmdbId não corresponde a nenhum título real no TMDB — só verificado na
            primeira vez que essa referência é criada (ver POST /contents/reference).
        "409":
          description: >
            Esse conteúdo já está no Top 5 deste type, ou a posição informada já está ocupada
            (corrida concorrente).
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId — só na primeira vez que
            essa referência é criada (ver POST /contents/reference).

  /users/me/top5/{type}/{top5EntryId}:
    patch:
      tags: [Top5]
      summary: Editar o poster customizado de uma entrada do Top 5 do usuário autenticado
      description: >
        Único campo editável de uma entrada já existente — não existe operação de "mover", só
        inserir/remover (ver POST/DELETE abaixo). null em customPosterUrl significa "não alterar".
      parameters:
        - $ref: "#/components/parameters/top5Type"
        - name: top5EntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Top5EntryPatch" }
      responses:
        "200":
          description: Atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Top5Entry" }
        "400": { description: "top5EntryId não é um UUID válido, ou customPosterUrl inválido (mais de 2048 caracteres ou não é uma URL)" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }
    delete:
      tags: [Top5]
      summary: Remover uma entrada do Top 5 do usuário autenticado
      description: Remove a entrada e desloca as posições seguintes uma casa para cima, fechando o buraco.
      parameters:
        - $ref: "#/components/parameters/top5Type"
        - name: top5EntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removido }
        "400": { description: top5EntryId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }

  /users/{userId}/watchlist/{type}:
    get:
      tags: [Watchlist]
      summary: Obter a watchlist (quero assistir) de filmes ou séries do usuário
      description: >
        type só aceita MOVIE ou SERIES — SEASON/EPISODE não são válidos para a watchlist, igual ao
        Top 5. Diferente do Top 5, não tem teto de 5 entradas, então a resposta é paginada. Mesma
        regra de acesso de GET /users/{userId}/followers: se o perfil de {userId} for público, ou
        se for o próprio dono do perfil, qualquer usuário autenticado pode ver; se for privado, só
        quem já o segue de verdade (relação com status ACCEPTED) pode ver — do contrário, 403.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/watchlistType"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK, ordenado por position crescente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/WatchlistEntry" }
        "400": { description: "type não é MOVIE nem SERIES, número/tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/me/watchlist/{type}:
    post:
      tags: [Watchlist]
      summary: Adicionar um conteúdo à watchlist do usuário autenticado
      description: >
        Insere content sempre na última posição da watchlist desse type — diferente do Top 5, não
        existe teto nem eviction, e diferente do POST de Top 5, position não é aceito no corpo: um
        item novo sempre entra no fim da fila, nunca opinando sobre onde entrar. A única forma de
        adiantar um item é reordenar depois via PATCH. Um conteúdo já presente na watchlist desse
        type não pode ser inserido de novo (409). Só o tmdbId é necessário: type já vem fixado no
        path e só MOVIE/SERIES são aceitos.
      parameters:
        - $ref: "#/components/parameters/watchlistType"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tmdbId]
              properties:
                tmdbId: { type: string }
      responses:
        "201":
          description: Inserido no fim da watchlist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WatchlistEntry" }
        "400": { description: "type não é MOVIE nem SERIES, ou tmdbId ausente/inválido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Esse tmdbId não corresponde a nenhum título real no TMDB — só verificado na
            primeira vez que essa referência é criada (ver POST /contents/reference).
        "409":
          description: >
            Esse conteúdo já está na watchlist deste type, ou a última posição foi ocupada por uma
            inserção concorrente.
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId — só na primeira vez que
            essa referência é criada (ver POST /contents/reference).

  /users/me/watchlist/{type}/{watchlistEntryId}:
    patch:
      tags: [Watchlist]
      summary: Reordenar uma entrada da watchlist do usuário autenticado
      description: >
        Move a entrada para position, deslocando as entradas entre a posição antiga e a nova uma
        casa para abrir espaço — é a única forma de uma entrada avançar na watchlist, já que o
        insert sempre entra no fim. position deve estar entre 1 e o total de entradas atuais dessa
        watchlist (não é possível "mover para o fim" além do que já existe; para isso, remova e
        insira de novo). Se position for igual à posição atual da entrada, não faz nada.
      parameters:
        - $ref: "#/components/parameters/watchlistType"
        - name: watchlistEntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [position]
              properties:
                position: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Reordenado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WatchlistEntry" }
        "400":
          description: >
            type não é MOVIE nem SERIES, watchlistEntryId não é um UUID válido, ou position
            ausente/menor que 1/maior que o total de entradas atuais.
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }
        "409": { description: Reordenação concorrente na mesma watchlist. Tente novamente. }
    delete:
      tags: [Watchlist]
      summary: Remover uma entrada da watchlist do usuário autenticado
      description: Remove a entrada e desloca as posições seguintes uma casa para cima, fechando o buraco.
      parameters:
        - $ref: "#/components/parameters/watchlistType"
        - name: watchlistEntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removido }
        "400": { description: watchlistEntryId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }

  /users/{userId}/dropped/{type}:
    get:
      tags: [Dropped]
      summary: Listar os filmes ou séries que o usuário abandonou no meio
      description: >
        type só aceita MOVIE ou SERIES — SEASON/EPISODE não são válidos, igual ao Top 5 e à
        watchlist. Mesma regra de acesso de GET /users/{userId}/followers: se o perfil de {userId}
        for público, ou se for o próprio dono do perfil, qualquer usuário autenticado pode ver; se
        for privado, só quem já o segue de verdade (relação com status ACCEPTED) pode ver — do
        contrário, 403.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/droppedType"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK, ordenado por createdAt decrescente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/DroppedEntry" }
        "400": { description: "type não é MOVIE nem SERIES, número/tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/me/dropped/{type}/{tmdbId}:
    post:
      tags: [Dropped]
      summary: Marcar um filme ou série como abandonado
      description: >
        Sempre em nome do usuário autenticado. Idempotente: marcar um conteúdo já marcado não é
        erro — se já existir uma marcação para esse type+tmdbId, comment (se informado) sobrescreve
        o valor salvo; se omitido, a marcação existente não é alterada. Efeito colateral automático:
        remove (se existir) a entrada correspondente na watchlist do usuário — abandonar volta a ser
        "não quero mais assistir", então não faz sentido continuar marcado como "quero assistir".
        Não apaga nem altera nenhuma DiaryEntry existente desse conteúdo — os dois convivem lado a
        lado; logar de novo depois não desmarca automaticamente essa marcação em si (embora
        POST /diary remova tanto a watchlist quanto essa marcação como efeito colateral separado —
        ver DiaryEntryCreation).
      parameters:
        - $ref: "#/components/parameters/droppedType"
        - name: tmdbId
          in: path
          required: true
          description: tmdbId nativo do TMDB do filme/série (não é um ID interno do Watchwise).
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment: { type: string, nullable: true, maxLength: 280 }
      responses:
        "204": { description: Marcado como abandonado }
        "400": { description: "type não é MOVIE nem SERIES, ou comment maior que 280 caracteres" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Esse tmdbId não corresponde a nenhum título real no TMDB — só verificado na
            primeira vez que essa referência é criada (ver POST /contents/reference).
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId — só na primeira vez que
            essa referência é criada (ver POST /contents/reference).
    delete:
      tags: [Dropped]
      summary: Desmarcar um filme ou série como abandonado
      description: Idempotente — desmarcar um conteúdo que não estava marcado não é erro.
      parameters:
        - $ref: "#/components/parameters/droppedType"
        - name: tmdbId
          in: path
          required: true
          description: tmdbId nativo do TMDB do filme/série (não é um ID interno do Watchwise).
          schema: { type: string }
      responses:
        "204": { description: Desmarcado }
        "400": { description: type não é MOVIE nem SERIES }
        "403": { description: Cookie CSRF ausente ou inválido }

  /users/{userId}/summary:
    get:
      tags: [Users]
      summary: Resumo de atividade para a tela de Perfil (dividido entre Filme e Série)
      description: >
        type é obrigatório e escopa TODA a resposta — não existe uma variante "os dois juntos";
        o cliente chama de novo ao trocar de aba, mesmo padrão de Top5Entry/WatchlistEntry/
        DroppedEntry. Todos os números/listas abaixo são só do type pedido: MOVIE olha
        DiaryEntry de conteúdo MOVIE; SERIES olha DiaryEntry de conteúdo EPISODE (é daí que vem
        o tempo assistido/gêneros/notas de uma série — completar a série em si não soma tempo,
        só marca conclusão) exceto recentActivity, que usa a DiaryEntry de nível SERIES (o
        marcador de conclusão) em vez de episódios individuais. Não existe um serviço de domínio
        próprio aqui — é só agregação sobre consultas que já existem em Diary/Dropped.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: type
          in: query
          required: true
          schema: { type: string, enum: [MOVIE, SERIES] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Summary" }
        "400": { description: "type ausente ou não é MOVIE/SERIES" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/home:
    get:
      tags: [Users]
      summary: Resumo de atividade para a tela Home
      description: >
        Sem type — combina MOVIE e SERIES/EPISODE, diferente de GET /users/{userId}/summary. Sem
        serviço de domínio próprio, agrega consultas que já existem em Diary/Summary; as duas
        janelas de 30 dias (watchCountByDayLast30Days/genreCounts*Last30Days) são rolantes a partir
        de hoje, não o mês calendário do Month in Review. O preview de calendário de 7 dias da tela
        (episódios/filmes que vão ser lançados) não está aqui — depende de data de lançamento
        (TMDB), que Content nunca guarda; o cliente cruza nextEpisodes + GET /users/me/watchlist/{type}
        com o TMDB.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HomeSummary" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/month:
    get:
      tags: [Users]
      summary: Month in Review (dividido em Movie Edition e Tv Edition), estilo Trakt
      description: >
        type escopa toda a resposta, mesma regra de GET /users/{userId}/summary. topSeriesByWatchTime
        só é preenchido quando type=SERIES; topLongestMovies só quando type=MOVIE. topRated/bottomRated
        são no nível do título (MOVIE/SERIES), não no nível de episódio — quem já está no Top5 do
        usuário aparece primeiro dentro da lista já ordenada por nota.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: type
          in: query
          required: true
          schema: { type: string, enum: [MOVIE, SERIES] }
        - name: month
          in: query
          required: true
          description: Formato YYYY-MM.
          schema: { type: string, example: "2026-08" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MonthInReview" }
        "400": { description: "type ausente/inválido, ou month ausente/fora do formato YYYY-MM" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/year:
    get:
      tags: [Users]
      summary: Year in Review (dividido em Movie Edition e Tv Edition), estilo Trakt
      description: >
        Mesmas regras de escopo de GET /users/{userId}/summary/month, só que pro ano inteiro e com
        limites de 10 em vez de 6. longestWatched combina, num único ranking, filmes (duração própria)
        e séries (soma do runtime dos episódios assistidos no ano) — só um dos dois tipos é populado
        por chamada, de acordo com o type pedido.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: type
          in: query
          required: true
          schema: { type: string, enum: [MOVIE, SERIES] }
        - name: year
          in: query
          required: true
          schema: { type: integer, example: 2026 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/YearInReview" }
        "400": { description: "type ausente/inválido, ou year ausente" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/all-time:
    get:
      tags: [Users]
      summary: All Time Stats, estilo Trakt
      description: >
        Ao contrário de summary/summary-month/summary-year, não tem parâmetro type — combina filme e
        série numa resposta só. Contagens/gêneros que fariam sentido por tipo vêm em pares de listas
        (ex. watchCountByYearMovies/watchCountByYearEpisodes, genreCountsMovies/genreCountsSeries);
        rankings que fazem sentido misturados (mostLoggedContent, topRated, bottomRated) combinam os
        dois tipos num só top 10. watchCountByDecade e watchCountByCountry dependem de releaseYear/
        countries terem sido informados na referência do Content (campos opcionais — ver ContentRefCreation).
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AllTimeStats" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/series/{seriesTmdbId}/episode-ratings:
    get:
      tags: [Users]
      summary: Notas de episódios de um usuário para uma série, estilo SeriesGraph
      description: >
        Grade temporada x episódio com a nota que o usuário deu a cada episódio já assistido dessa
        série. Em caso de rewatch (watchNumber > 1), usa a nota do watchNumber mais alto. Informações
        da série (título, pôster, lista de temporadas/episódios) não vêm daqui — Content nunca guarda
        esse dado, é trabalho do cliente buscar na TMDB usando o mesmo seriesTmdbId.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: seriesTmdbId
          in: path
          required: true
          description: tmdbId nativo do TMDB da série (não é um ID interno do Watchwise).
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EpisodeRatingsGrid" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  # ---------- CONTENT (referência local) ----------
  /contents/reference:
    post:
      tags: [Content]
      summary: >
        Obter ou criar a referência local de um conteúdo do TMDB
        (identificado por tmdbId + type, mais seriesTmdbId/seasonNumber/
        episodeNumber quando type é SEASON ou EPISODE). Chamado
        internamente sempre que o usuário interage pela primeira vez
        com um filme, série, temporada ou episódio (comentar, avaliar,
        logar, adicionar a lista, etc). Idempotente. Na primeira vez que
        um tmdbId/seriesTmdbId é referenciado (nenhum Content local ainda
        existe pra ele), o backend verifica a existência no TMDB antes de
        criar a linha (MOVIE/SERIES via tmdbId; SEASON/EPISODE via
        seriesTmdbId) — se a referência já existe localmente, essa
        verificação é pulada (nunca chama o TMDB de novo pra algo que já
        foi confirmado real antes, por qualquer usuário). Nessa mesma
        checagem, pra MOVIE/SERIES, o backend também deriva
        genres/releaseYear/countries (e runtimeMinutes, só pra MOVIE) da
        resposta do TMDB já obtida — sem custo de chamada extra — e
        preenche automaticamente numa referência já existente que ainda
        não os tenha (best-effort, nunca bloqueia a requisição). Pra
        EPISODE fora de um /diary/bulk (que já deriva runtimeMinutes por
        conta própria), o backend faz uma chamada adicional ao TMDB pra
        aquele episódio específico pra derivar runtimeMinutes — o que
        também verifica, pela primeira vez, que aquele número de episódio
        realmente existe (SEASON continua verificando só a série-mãe, não
        o número da temporada em si). Ver ContentRefCreation.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContentRefCreation" }
      responses:
        "200":
          description: Referência obtida ou criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentRef" }
        "400":
          description: >
            Combinação de campos inválida para o type informado (ex:
            tmdbId ausente para MOVIE/SERIES, ou seriesTmdbId/seasonNumber
            ausente para SEASON/EPISODE), ou runtimeMinutes/genres/releaseYear/
            countries informados por um cliente — todos são sempre derivados
            do TMDB pelo backend, nunca aceitos na requisição (ver
            ContentRefCreation).
        "404":
          description: >
            O tmdbId (MOVIE/SERIES) ou seriesTmdbId (SEASON) não corresponde
            a nenhum título real no TMDB — só verificado na primeira vez que
            essa referência é criada, nunca para uma já existente. Pra
            EPISODE, também cobre o número do episódio específico não
            corresponder a nenhum episódio real da temporada (verificado ao
            derivar runtimeMinutes).
        "409":
          description: >
            Outro episódio já está marcado como finale desta temporada, ou
            outra temporada já está marcada como finale desta série (ver
            isSeasonFinale/isSeriesFinale em ContentRefCreation).
        "401":
          description: Não autenticado
        "403":
          description: Cookie CSRF ausente ou inválido
        "429":
          description: >
            Muitas chamadas vindas desse usuário. Tente novamente após o
            período configurado.
        "502":
          description: >
            TMDB indisponível após uma tentativa extra de retry, ao
            verificar a existência do tmdbId/seriesTmdbId — só na primeira
            vez que essa referência é criada (inclui a chamada extra pra
            derivar runtimeMinutes de um EPISODE novo).

  /contents/{contentId}/comments:
    get:
      tags: [Comments]
      summary: Listar comentários de um conteúdo
      description: Exige autenticação, como qualquer outra rota fora da discover (ver Access policy no CLAUDE.md).
      parameters:
        - $ref: "#/components/parameters/contentId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/Comment" }
        "401": { description: Não autenticado }
    post:
      tags: [Comments]
      summary: Comentar em um conteúdo
      parameters:
        - $ref: "#/components/parameters/contentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, maxLength: 280 }
                parentCommentId: { type: string, format: uuid, nullable: true }
                containsSpoiler: { type: boolean, default: false }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Comment" }
        "400": { description: "parentCommentId aponta para um comentário que não pertence a esse conteúdo" }
        "401": { description: Não autenticado }
        "404": { description: "Conteúdo não encontrado, ou parentCommentId não encontrado" }

  /contents/{contentId}/stats:
    get:
      tags: [Content]
      summary: Estatísticas agregadas de um conteúdo entre todos os usuários
      description: >
        Sem entidade própria — agregação de DiaryEntry/Comment por contentId. Um contentId sem
        nenhuma interação ainda devolve averageScore null e os três contadores em 0, nunca 404.
      parameters:
        - $ref: "#/components/parameters/contentId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentStats" }
        "401": { description: Não autenticado }

  /contents/stats:
    get:
      tags: [Content]
      summary: Estatísticas agregadas de vários conteúdos de uma vez (batch)
      description: >
        Mesma agregação de GET /contents/{contentId}/stats, evitando N chamadas — usado pela lista
        de episódios de uma temporada. Devolve um item por id pedido, na mesma ordem, com stats
        zeradas para qualquer id sem interação ainda.
      parameters:
        - name: ids
          in: query
          required: true
          schema: { type: array, items: { type: string, format: uuid }, maxItems: 100 }
          style: form
          explode: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/ContentStats" } }
        "400": { description: "ids ausente/vazio, ou mais de 100 ids" }
        "401": { description: Não autenticado }

  /contents/{contentId}/details:
    get:
      tags: [Content]
      summary: Detalhe de um conteúdo, resolvido pelo backend via proxy do TMDB
      description: >
        O backend resolve tmdbId (MOVIE/SERIES) ou seriesTmdbId+seasonNumber(+episodeNumber)
        (SEASON/EPISODE) do Content, chama o TMDB com preferredLanguage do usuário autenticado
        (ver UserResponseDTO), cacheia a resposta (chave inclui o idioma, não a região — Caffeine,
        TTL configurável) e devolve já com o título resolvido (tradução → título alternativo da
        preferredRegion do usuário → título original) e watchProviders já filtrado pra
        preferredRegion. SEASON/EPISODE reaproveitam gêneros/países/elenco regular/criadores da
        SERIES do mesmo seriesTmdbId (mesma resposta cacheada), igual à regra que Content.genres/
        countries já usa. Nenhuma chamada ao TMDB é feita pelo cliente.
      parameters:
        - $ref: "#/components/parameters/contentId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentDetailsDTO" }
        "401": { description: Não autenticado }
        "404": { description: Content ou usuário autenticado não encontrado }
        "502": { description: TMDB indisponível após uma tentativa extra de retry }

  /contents/details:
    get:
      tags: [Content]
      summary: Detalhe de vários conteúdos de uma vez (batch), mesma resolução de GET /contents/{contentId}/details
      description: >
        Mesma resolução de GET /contents/{contentId}/details, evitando N chamadas — usado por toda
        tela que lista Content (diário, listas, Top5, watchlist, feed, rankings de summary). Devolve
        um item por id pedido, na mesma ordem.
      parameters:
        - name: ids
          in: query
          required: true
          schema: { type: array, items: { type: string, format: uuid }, maxItems: 100 }
          style: form
          explode: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/ContentDetailsDTO" } }
        "400": { description: "ids ausente/vazio, ou mais de 100 ids" }
        "401": { description: Não autenticado }
        "404": { description: Algum content ou o usuário autenticado não encontrado }
        "502": { description: TMDB indisponível após uma tentativa extra de retry }

  /contents/{contentId}/reviews:
    get:
      tags: [Diary]
      summary: Listar reviews de um conteúdo entre todos os usuários
      description: >
        DiaryEntry com comment preenchido, de qualquer usuário, escopado por contentId — diferente
        de hasReview=true em GET /users/{userId}/diary (escopado por um único usuário). Cada review
        segue a mesma regra de visibilidade de perfil privado já usada em curtidas/comentários de
        diário (dono, perfil público, ou perfil privado que o viewer segue com status aceito).
      parameters:
        - $ref: "#/components/parameters/contentId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/DiaryEntry" }
        "401": { description: Não autenticado }
        "404": { description: Conteúdo não encontrado }

  # ---------- COMMENTS (por id) ----------
  /comments/{commentId}:
    delete:
      tags: [Comments]
      summary: Remover um comentário próprio
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Removido }
        "401": { description: Não autenticado }
        "404": { description: "Comentário não encontrado, ou não pertence ao usuário autenticado" }

  /comments/{commentId}/like:
    post:
      tags: [Likes]
      summary: Curtir um comentário
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Curtido }
        "401": { description: Não autenticado }
        "403": { description: "O comentário está em uma lista ou registro de diário privado que o viewer não pode ver" }
        "404": { description: Comentário não encontrado }
    delete:
      tags: [Likes]
      summary: Remover curtida de um comentário
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Curtida removida }
        "401": { description: Não autenticado }

  # ---------- LISTS ----------
  /users/{userId}/lists:
    get:
      tags: [Lists]
      summary: Listar as listas de um usuário
      description: >
        Duas camadas de visibilidade combinadas. Primeiro, a mesma regra padrão usada em
        Top5/Watchlist/Dropped/DiaryEntry: se o perfil do dono for privado e o viewer não for o
        próprio dono nem seguir o dono com status aceito, a requisição inteira é bloqueada com 403,
        antes de sequer olhar as listas. Passada essa barreira (perfil público, ou viewer é o dono,
        ou viewer segue o dono), cada lista tem sua própria visibilidade (PUBLIC/FOLLOWERS/PRIVATE —
        ver UserListCreation): o dono sempre vê todas as suas listas; qualquer outro viewer só vê as
        PUBLIC, mais as FOLLOWERS se de fato seguir o dono com status aceito — nunca vê PRIVATE.
        Paginado, igual às demais listagens sem teto por usuário. Cada lista no array content já vem
        com previewItems (até 5 primeiros itens de conteúdo) e nestedListsCount (ver schema UserList),
        pensado pra renderizar a listagem sem precisar de uma chamada extra por lista.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
        - name: sortBy
          in: query
          description: >
            rank, updatedAt, name e likesCount ordenam por coluna real de UserList (mais recente/
            maior primeiro por padrão — ver sortDirection). itemsCount e commentsCount agregam
            (JOIN + COUNT) numa query nativa própria, não pela coluna. Valor desconhecido é 400.
          schema: { type: string, enum: [rank, updatedAt, name, likesCount, itemsCount, commentsCount] }
        - name: sortDirection
          in: query
          description: "asc ou desc (default varia pelo campo — ver sortBy)."
          schema: { type: string, enum: [asc, desc] }
        - name: contentId
          in: query
          description: >
            Quando informado, cada lista no array content vem com containsContent preenchido
            (true/false) em vez de null, indicando se esse content já está na lista — pensado pra
            tela de "adicionar a uma lista" a partir da tela de um content marcar as listas que já
            o contêm. Um contentId que não existe simplesmente resolve containsContent=false pra
            todas as listas, sem erro.
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/UserList" }
        "400": { description: "Número/tamanho de página inválido, sortBy desconhecido, ou userId não é um UUID válido" }
        "403": { description: "Perfil do dono é privado e o viewer não é o dono nem o segue com status aceito" }
        "404": { description: Usuário não encontrado }

  /users/me/liked-lists:
    get:
      tags: [Lists]
      summary: Listar as listas que o usuário autenticado curtiu
      description: >
        Sempre auto-visão (não existe GET /users/{userId}/liked-lists) — não precisa resolver
        visibilidade de terceiro, já que o viewer só pode estar vendo as próprias curtidas.
        Paginado, ordenado pela curtida mais recente primeiro. Cada lista no array content vem
        no mesmo formato de GET /users/{userId}/lists (previewItems, nestedListsCount,
        itemsCount, commentsCount etc.).
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/UserList" }
        "400": { description: Número/tamanho de página inválido }

  /users/me/lists:
    post:
      tags: [Lists]
      summary: Criar uma nova lista para o usuário autenticado
      description: >
        Sempre em nome do usuário autenticado — diferente de GET /users/{userId}/lists (que aceita
        qualquer userId pra ver listas de terceiros), não existe POST /users/{userId}/lists,
        seguindo o mesmo padrão de /users/me/top5/{type}, /users/me/watchlist/{type} e
        /users/me/dropped/{type}/{tmdbId}: a posse nunca depende de um userId vindo do cliente.
        visibility omitido tem default PUBLIC.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListCreation" }
      responses:
        "201":
          description: Criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserList" }
        "400": { description: name ausente/vazio }
        "403": { description: Cookie CSRF ausente ou inválido }

  /users/me/lists/bulk:
    post:
      tags: [Lists]
      summary: Criar uma lista já populada com vários itens de conteúdo (filmes e/ou séries)
      description: >
        Atalho para não precisar chamar POST /users/me/lists seguido de N chamadas a
        POST /lists/{listId}/items: cria a lista e insere todo o array items, na ordem enviada,
        na mesma transação — tudo ou nada, um item inválido ou duplicado (dentro do próprio
        payload ou já existente na lista, o que é impossível numa lista recém-criada) reverte a
        lista inteira, não só o item que falhou. Cada item é resolvido pelo mesmo caminho
        get-or-create idempotente usado por POST /contents/reference, e cai nas mesmas regras de
        item único usadas por POST /lists/{listId}/items. Só aceita content (Conteudo) por item —
        para adicionar uma lista aninhada como item, crie a lista aqui (sem itens ou com outros
        filmes/séries) e use POST /lists/{listId}/items depois. items exige entre 1 e 100
        entradas. visibility omitido tem default PUBLIC, igual a POST /users/me/lists.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListBulkCreation" }
      responses:
        "201":
          description: Criada com os itens
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserListDetailed" }
        "400": { description: "name ausente/vazio, items ausente/vazio/maior que 100, ou algum item de content inválido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Algum tmdbId/seriesTmdbId dos items não corresponde a nenhum título real no TMDB —
            só verificado na primeira vez que essa referência é criada (ver POST /contents/reference);
            reverte a lista inteira, igual a qualquer outra falha do bulk.
        "409": { description: "Dois itens do payload apontam para o mesmo conteúdo (duplicata dentro do próprio bulk)" }
        "502":
          description: >
            TMDB indisponível ao verificar a existência de algum tmdbId/seriesTmdbId — só na
            primeira vez que essa referência é criada (ver POST /contents/reference).

  /lists/{listId}:
    get:
      tags: [Lists]
      summary: Obter uma lista com seus itens
      description: >
        Visibilidade checada só pela própria lista (PUBLIC/FOLLOWERS/PRIVATE — ver
        UserListCreation), nunca pelo perfil do dono estar público ou privado: diferente de
        GET /users/{userId}/lists (que bloqueia a listagem inteira se o perfil do dono for privado
        e o viewer não o seguir), aqui uma lista PUBLIC é acessível diretamente por qualquer
        usuário autenticado mesmo que o perfil do dono seja privado. FOLLOWERS exige que o viewer
        siga o dono com status aceito (ou seja o próprio dono); PRIVATE só o próprio dono.
      parameters:
        - $ref: "#/components/parameters/listId"
        - name: type
          in: query
          description: Filtra os itens por tipo de conteúdo (só aplicável a listas de conteúdo, não de listas aninhadas).
          schema: { type: string, enum: [MOVIE, SERIES, SEASON, EPISODE] }
        - name: genre
          in: query
          description: Filtra os itens cujo Content.genres (ver ContentRefCreation) contém esse gênero.
          schema: { type: string }
        - name: sortBy
          in: query
          description: >
            Aplicado em memória sobre a lista de itens já carregada (sem paginação própria).
            alfabética e data de lançamento não são suportadas — Content nunca guarda título nem
            data de lançamento (dados só do TMDB); isso é sempre responsabilidade do cliente.
            episodeAvgRating ordena por DiaryEntry.score médio dos episódios (EPISODE) do dono da
            lista — nunca do viewer — calculado por série (item SERIES), por temporada (item
            SEASON) ou pelo próprio episódio (item EPISODE); item MOVIE ou de lista aninhada não
            tem esse valor. Itens sem nenhuma nota do dono sempre ficam por último,
            independentemente de sortDirection.
          schema: { type: string, enum: [position, dateAdded, duration, episodeAvgRating] }
        - name: sortDirection
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserListDetailed" }
        "400": { description: "listId não é um UUID válido, ou sortBy desconhecido" }
        "403": { description: "Lista é FOLLOWERS e o viewer não segue o dono, ou lista é PRIVATE e o viewer não é o dono" }
        "404": { description: Lista não encontrada }
    patch:
      tags: [Lists]
      summary: Atualizar dados de uma lista
      description: >
        Patch parcial de verdade: name, description, visibility e rank são todos opcionais, e só o
        campo enviado como não-null é alterado — o restante permanece como estava. Omitir ou mandar
        null em qualquer um deles significa "não mexer nesse campo", igual ao PatchUserDTO de
        PATCH /users/me. Não existe forma de limpar description para null via este endpoint depois
        de definida (mesma limitação de PatchUserDTO). name, se enviado, não pode ser
        vazio/só-espaço. rank reordena a lista entre as demais do mesmo dono (1 a N, N = quantidade
        de listas já rankeadas) — uma lista sem rank ainda é adotada no fim da sequência antes de
        mover. Só o dono da lista pode atualizar.
      parameters:
        - $ref: "#/components/parameters/listId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListPatch" }
      responses:
        "200":
          description: Atualizada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserList" }
        "400": { description: "name enviado vazio/só-espaço, rank maior que a quantidade de listas rankeadas, ou listId não é um UUID válido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Lista não encontrada, ou não pertence ao usuário autenticado" }
        "409": { description: "rank reordenado concorrentemente por outra requisição" }
    delete:
      tags: [Lists]
      summary: Remover uma lista
      description: Só o dono da lista pode remover.
      parameters:
        - $ref: "#/components/parameters/listId"
      responses:
        "204": { description: Removida }
        "400": { description: listId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Lista não encontrada, ou não pertence ao usuário autenticado" }

  /lists/{listId}/items:
    post:
      tags: [Lists]
      summary: Adicionar um item (conteúdo ou lista aninhada) à lista
      description: >
        Exatamente um entre content e childListId deve ser informado, nunca os dois nem nenhum (400).
        Sem score neste endpoint — a nota de um conteúdo é sempre a de DiaryEntry, não uma por item de
        lista; description é a única anotação livre aceita, para os dois formatos de item. childListId
        pode apontar para uma lista do próprio usuário, ou para uma lista de outro usuário desde que
        visível a quem está adicionando (PUBLIC sempre, FOLLOWERS só se seguir o dono com status
        aceito — 403 caso contrário, mesma regra de visibilidade de GET /lists/{listId}); a lista
        referenciada não pode já conter outras listas como item (profundidade máxima de um nível) nem
        pode ser a própria lista (400 nos dois casos). Uma lista trava como "de conteúdo" ou "de listas"
        a partir do seu primeiro item — tentar misturar os dois tipos na mesma lista devolve 400.
        position é opcional: se omitido, o item entra na última posição; se informado, os itens a
        partir dali deslocam +1 (400 se maior que a próxima posição livre). customPosterUrl só é
        aceito quando content é informado — 400 se vier junto com childListId.
      parameters:
        - $ref: "#/components/parameters/listId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { $ref: "#/components/schemas/ContentRefCreation" }
                childListId: { type: string, format: uuid }
                position: { type: integer }
                description: { type: string, maxLength: 400 }
                customPosterUrl: { type: string, format: uri, nullable: true }
      responses:
        "201":
          description: Adicionado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserListItem" }
        "400":
          description: >
            Nem content nem childListId informado (ou os dois), position maior que a próxima posição
            livre, childListId igual ao próprio listId, childListId aponta para uma lista que já
            contém outras listas como item, a lista já está travada no tipo oposto (conteúdo x
            lista aninhada), ou customPosterUrl informado junto com childListId.
        "403": { description: "Cookie CSRF ausente ou inválido, ou childListId aponta para uma lista FOLLOWERS/PRIVATE não visível a quem está adicionando" }
        "404":
          description: >
            Lista não encontrada (ou não pertence ao usuário autenticado), childListId não
            encontrado, ou o tmdbId/seriesTmdbId de content não corresponde a nenhum título real
            no TMDB (só verificado na primeira vez que essa referência é criada — ver
            POST /contents/reference).
        "409": { description: "Esse content (ou childListId) já está nessa lista, ou a posição foi ocupada por uma inserção concorrente" }
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId/seriesTmdbId de content — só na
            primeira vez que essa referência é criada (ver POST /contents/reference).

  /lists/{listId}/items/bulk:
    post:
      tags: [Lists]
      summary: Adicionar vários itens de conteúdo a uma lista existente
      description: >
        Atalho para não precisar chamar POST /lists/{listId}/items uma vez por item: insere todo o
        array items, na ordem enviada, na mesma transação — tudo ou nada, um item inválido ou
        duplicado (dentro do próprio payload ou já existente na lista) reverte a operação inteira,
        nenhum item fica inserido. Reaproveita o mesmo POST /lists/{listId}/items chamado uma vez por
        item: cada item é resolvido pelo mesmo caminho get-or-create idempotente usado por
        POST /contents/reference, sempre inserido na última posição livre (nenhum position é aceito
        aqui — para posição explícita, use POST /lists/{listId}/items avulso), e cai nas mesmas regras
        de item único e trava de tipo usadas por esse endpoint. Só aceita content (Conteudo) por item,
        igual a POST /users/me/lists/bulk — não é possível inserir childListId em massa; para itens de
        lista aninhada, use POST /lists/{listId}/items. items exige entre 1 e 100 entradas.
      parameters:
        - $ref: "#/components/parameters/listId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListItemBulkCreation" }
      responses:
        "201":
          description: Itens adicionados
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/UserListItem" }
        "400":
          description: >
            items ausente/vazio/maior que 100, algum item de content inválido, ou a lista já está
            travada como lista-de-listas (só aceita content).
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Lista não encontrada (ou não pertence ao usuário autenticado), ou o
            tmdbId/seriesTmdbId de algum item não corresponde a nenhum título real no TMDB (só
            verificado na primeira vez que essa referência é criada — ver POST /contents/reference);
            reverte a inserção inteira, igual a qualquer outra falha do bulk.
        "409": { description: "Dois itens do payload apontam para o mesmo conteúdo, ou algum já está na lista" }
        "502":
          description: >
            TMDB indisponível ao verificar a existência de algum tmdbId/seriesTmdbId — só na
            primeira vez que essa referência é criada (ver POST /contents/reference).

  /lists/{listId}/items/{itemId}:
    patch:
      tags: [Lists]
      summary: Editar a posição e/ou a descrição de um item da lista
      description: >
        position e description são independentes e ambos opcionais — envie só o que quiser alterar.
        Se position for informado e diferente da posição atual, move o item para lá, deslocando +1 ou
        -1 os itens entre a posição antiga e a nova (mesmo algoritmo de reordenação de
        PATCH /users/me/watchlist/{type}/{watchlistEntryId}); deve estar entre 1 e o total de itens
        atuais dessa lista (não é possível "mover para o fim" além do que já existe; para isso, remova
        e insira de novo). Se position for igual à posição atual, não faz nada com a posição. Preserva
        o id/createdAt do item, ao contrário de remover e recriar. customPosterUrl só é aceito quando
        o item é de content — 400 se o item alvo for de lista aninhada.
      parameters:
        - $ref: "#/components/parameters/listId"
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                position: { type: integer, minimum: 1 }
                description: { type: string, maxLength: 400 }
                customPosterUrl: { type: string, format: uri, nullable: true }
      responses:
        "200":
          description: Atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserListItem" }
        "400":
          description: >
            position maior que o total de itens atuais da lista, itemId não é um UUID válido,
            description maior que 400 caracteres, ou customPosterUrl informado contra um item de
            lista aninhada.
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Lista não encontrada (ou não pertence ao usuário autenticado), ou item não encontrado" }
        "409": { description: Reordenação concorrente no mesmo item. Tente novamente. }
    delete:
      tags: [Lists]
      summary: Remover um item da lista
      description: Só o dono da lista pode remover; remove e desloca -1 as posições seguintes.
      parameters:
        - $ref: "#/components/parameters/listId"
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Lista não encontrada (ou não pertence ao usuário autenticado), ou item não encontrado" }

  /lists/{listId}/comments:
    get:
      tags: [Comments]
      summary: Listar comentários de uma lista
      parameters:
        - $ref: "#/components/parameters/listId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/Comment" }
        "401": { description: Não autenticado }
    post:
      tags: [Comments]
      summary: Comentar em uma lista
      parameters:
        - $ref: "#/components/parameters/listId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, maxLength: 280 }
                parentCommentId: { type: string, format: uuid, nullable: true }
                containsSpoiler: { type: boolean, default: false }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Comment" }
        "400": { description: "A lista é uma lista-de-listas e não pode receber comentários, ou parentCommentId aponta para um comentário que não pertence a essa lista" }
        "401": { description: Não autenticado }
        "403": { description: "A lista é privada, ou o viewer não segue o dono com status aceito" }
        "404": { description: "Lista não encontrada, ou parentCommentId não encontrado" }

  /lists/{listId}/like:
    post:
      tags: [Likes]
      summary: Curtir uma lista
      description: >
        Só listas de conteúdo (não listas-de-listas) podem ser curtidas — mesma trava usada em
        `POST /lists/{listId}/comments`. Segue a mesma regra de visibilidade de `GET /lists/{listId}`
        (dono, `PUBLIC`, ou `FOLLOWERS` com status aceito).
      parameters:
        - $ref: "#/components/parameters/listId"
      responses:
        "204": { description: Curtido }
        "400": { description: "A lista é uma lista-de-listas e não pode ser curtida" }
        "403": { description: "A lista é privada, ou o viewer não segue o dono com status aceito" }
        "404": { description: Lista não encontrada }
    delete:
      tags: [Likes]
      summary: Remover curtida de uma lista
      parameters:
        - $ref: "#/components/parameters/listId"
      responses:
        "204": { description: Curtida removida }

  # ---------- DIARY / LOG ----------
  /users/{userId}/diary:
    get:
      tags: [Diary]
      summary: Histórico de conteúdos assistidos (diário)
      description: >
        Sem parâmetros, devolve o diário inteiro (todos os tipos), mais recente
        primeiro. `year` é um atalho pra `dateFrom=01/01`/`dateTo=31/12` do
        mesmo ano — usar `year` junto com `dateFrom`/`dateTo` é `400`.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: year
          in: query
          schema: { type: integer }
        - name: type
          in: query
          description: Filtra por tipo de conteúdo (MOVIE/SERIES/SEASON/EPISODE).
          schema: { type: string, enum: [MOVIE, SERIES, SEASON, EPISODE] }
        - name: dateFrom
          in: query
          description: Início do range de watchedDate (inclusivo). Não pode ser combinado com year.
          schema: { type: string, format: date }
        - name: dateTo
          in: query
          description: Fim do range de watchedDate (inclusivo). Não pode ser combinado com year.
          schema: { type: string, format: date }
        - name: hasReview
          in: query
          description: "true filtra só entradas com comment preenchido (Reviews); false só as sem review (History)."
          schema: { type: boolean }
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/DiaryEntry" }
        "400":
          description: >
            Número/tamanho de página inválido, year inválido, userId não é um
            UUID válido, ou year combinado com dateFrom/dateTo.
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/series-in-progress:
    get:
      tags: [Diary]
      summary: Séries que o usuário está assistindo mas ainda não terminou
      description: >
        Sem entidade própria — derivado de DiaryEntry/Content: uma série entra na lista quando
        há pelo menos uma DiaryEntry de EPISODE daquele seriesTmdbId e nenhuma DiaryEntry de
        SERIES correspondente (série ainda não marcada como concluída). Ordenado por
        lastWatchedDate desc — o único critério de ordenação que o backend consegue calcular.
        maxSeasonNumber/maxEpisodeNumber refletem só até onde o usuário assistiu; % completo,
        episódios/tempo faltantes e ordenação por data de lançamento dependem do total de
        episódios da série (dado só do TMDB) e são responsabilidade do cliente.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/SeriesInProgress" }
        "400": { description: Número/tamanho de página inválido, ou userId não é um UUID válido }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /diary:
    post:
      tags: [Diary]
      summary: Registrar que assistiu a um conteúdo
      description: >
        Efeito colateral automático: se content é MOVIE, remove (se existirem) tanto a entrada desse
        filme na watchlist quanto a marcação de abandonado (DroppedEntry, type MOVIE) do usuário. Se
        content é EPISODE, SEASON ou SERIES, resolve a série (por tmdbId direto se SERIES, por
        seriesTmdbId se EPISODE/SEASON) e remove, se existirem, tanto a entrada dessa série na
        watchlist quanto a marcação de abandonada (DroppedEntry, type SERIES) do usuário — assistir
        de novo é tratado como "não abandonei mais". Em ambos os casos a remoção é best-effort/idempotente
        (não há nada para remover na maioria das chamadas) e não é desfeita se essa DiaryEntry for
        apagada depois — sair da watchlist/de dropped é definitivo, não é preciso adicionar de volta
        manualmente.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DiaryEntryCreation" }
      responses:
        "201":
          description: Registrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DiaryEntryCreationResult" }
        "400":
          description: >
            Combinação de campos de content inválida para o type informado, ou um campo
            server-derived (runtimeMinutes/genres/releaseYear/countries) informado pelo cliente (ver
            ContentRefCreation), watchedInTheater informado para content que não é MOVIE, ou
            watchedDate no futuro.
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            O tmdbId (MOVIE/SERIES) ou seriesTmdbId (SEASON/EPISODE) de content não corresponde
            a nenhum título real no TMDB — só verificado na primeira vez que essa referência é
            criada (ver POST /contents/reference). Pra EPISODE, também cobre o número do episódio
            específico não existir na temporada.
        "409":
          description: >
            O episódio/temporada logado tem uma flag de finale que conflita
            com outro Content já existente (ver isSeasonFinale/isSeriesFinale
            em ContentRefCreation) — só ocorre se a auto-completude de
            temporada/série disparar uma criação de Content em conflito —, ou
            esse watch já foi registrado por uma requisição concorrente idêntica.
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId/seriesTmdbId de content — só na
            primeira vez que essa referência é criada (ver POST /contents/reference), incluindo a
            chamada extra pra derivar runtimeMinutes de um EPISODE novo.

  /diary/bulk:
    post:
      tags: [Diary]
      summary: Registrar que assistiu a uma temporada ou série inteira
      description: >
        Mesmo efeito colateral de POST /diary sobre watchlist e dropped — como o bulk é sempre
        SEASON ou SERIES, a série correspondente é removida (se presente) da watchlist e da
        marcação de abandonada (DroppedEntry, type SERIES) do usuário. runtimeMinutes nunca é
        aceito do cliente pra nenhum dos dois tipos (ver ContentRefCreation) — pra SEASON, o
        backend deriva o runtime de cada episódio dos dados de temporada que já busca do TMDB pra
        outras validações (finaleEpisodeNumber, watchedDate vs. data de lançamento), sem nenhuma
        chamada extra; pra SERIES, deriva da mesma forma, uma temporada por vez, ao longo de todas
        as temporadas envolvidas. genres/releaseYear/countries do content são sempre derivados do
        TMDB pelo backend pra SERIES (rejeitados com 400 pra SEASON, que nunca os tem) — sempre uma
        checagem no banco antes, pra nunca chamar o TMDB mais de uma vez pela mesma série; falha ao
        buscar ou conflito com um valor já registrado são só ignorados (best-effort) quando a
        referência da série já existe, nunca derrubam o log das entradas de diário.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DiaryEntryBulkCreation" }
      responses:
        "201":
          description: Registrado
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DiaryEntry" }
        "400":
          description: >
            Tipo de conteúdo não é SEASON ou SERIES, um campo server-derived
            (runtimeMinutes/genres/releaseYear/countries) foi informado no content (ver
            ContentRefCreation), os dados de finale são insuficientes/inválidos (incluindo um
            finaleEpisodeNumber/finaleSeasonNumber/entrada de seasonFinaleEpisodeNumbers explícito
            usado como fallback que excede a contagem real de episódios/temporadas que o TMDB
            reporta), a contagem de episódios pedida excede o teto flexível de 2000 e não pôde ser
            verificada contra o TMDB, watchedDate no futuro, ou watchedDate anterior à data de
            lançamento do último episódio efetivamente logado (checado contra o TMDB).
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            O seriesTmdbId de content não corresponde a nenhuma série real no TMDB — só
            verificado na primeira vez que um dado episódio daquela série é referenciado (cada
            EPISODE do bulk passa por essa checagem individualmente, mas como usa a mesma chamada
            cacheada por seriesTmdbId, só a primeira dispara uma requisição real ao TMDB).
        "409":
          description: >
            Conflito de flag de finale (mesma causa de POST /diary), ou um dos watches do lote já
            foi registrado por uma requisição concorrente idêntica.
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
        "502":
          description: >
            TMDB indisponível após uma tentativa extra de retry — ao buscar o runtimeMinutes de uma
            das temporadas envolvidas (ambos os tipos), ao buscar a temporada pra derivar
            finaleEpisodeNumber/seasonFinaleEpisodeNumbers (o backend sempre tenta derivar do TMDB
            primeiro, mesmo com um valor explícito enviado — um valor explícito só é usado como
            fallback, e nesse caso não evita a busca à temporada), ao validar watchedDate (ambos os
            tipos), ou ao verificar a existência do seriesTmdbId pra um episódio novo (ambos os tipos,
            ver 404 acima). Exceção: a busca específica de finaleSeasonNumber (SERIES,
            getTvFullDetails) não gera 502 se o cliente enviou um finaleSeasonNumber explícito — nesse
            caso o valor explícito é aceito como fallback mesmo com essa chamada indisponível. Não
            inclui a derivação de genres/releaseYear/countries (SERIES) quando a referência da série
            já existe — essa é best-effort e nunca gera 502 nem qualquer outro erro; se a série
            ainda não tem Content local, a mesma verificação de existência do POST /contents/reference
            se aplica normalmente (404/502 podem ocorrer).

  /diary/{diaryEntryId}:
    patch:
      tags: [Diary]
      summary: Editar um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DiaryEntryUpdate" }
      responses:
        "200":
          description: Atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DiaryEntry" }
        "400": { description: "watchedInTheater informado para content que não é MOVIE, watchedDate no futuro, ou diaryEntryId não é um UUID válido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Registro não encontrado, ou não pertence ao usuário autenticado" }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
    delete:
      tags: [Diary]
      summary: Remover um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
        - name: overrideProtectedEntries
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >
            Se `true`, remove também entradas com `autoGenerated = false` na cascata de deletes
            (entradas criadas ou editadas manualmente). Por padrão (`false`), apenas entradas
            com `autoGenerated = true` são removidas. Recomenda-se chamar `GET /diary/{diaryEntryId}/deletion-impact`
            primeiro para pré-visualizar o impacto.
      responses:
        "204": { description: Removido }
        "400": { description: diaryEntryId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Registro não encontrado, ou não pertence ao usuário autenticado" }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }

  /diary/series/{seriesTmdbId}:
    delete:
      tags: [Diary]
      summary: Apagar todo o histórico de diário de uma série
      description: >
        Diferente de DELETE /diary/{diaryEntryId}, que só apaga a passada (watchNumber) da entrada
        alvo, este endpoint remove TODAS as DiaryEntry (EPISODE, SEASON e SERIES) do usuário
        autenticado para essa série, de qualquer watchNumber (todas as passadas/rewatches de uma
        vez). Não passa pela proteção de autoGenerated — como é um pedido direto e explícito de
        apagar tudo, não um efeito colateral de cascata, entradas manuais/editadas também são
        removidas, sem parâmetro de override. Idempotente: se não houver nenhuma entrada para essa
        série, devolve 204 do mesmo jeito.
      parameters:
        - name: seriesTmdbId
          in: path
          required: true
          description: tmdbId nativo do TMDB da série (não é um ID interno do Watchwise).
          schema: { type: string }
      responses:
        "204": { description: Removido (ou nada havia para remover) }
        "401": { description: Não autenticado }
        "403": { description: Cookie CSRF ausente ou inválido }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }

  /diary/{diaryEntryId}/like:
    post:
      tags: [Likes]
      summary: Curtir um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
      responses:
        "204": { description: Curtido }
        "401": { description: Não autenticado }
        "403": { description: "O registro do diário é privado e o viewer não segue o dono com status aceito" }
        "404": { description: Registro do diário não encontrado }
    delete:
      tags: [Likes]
      summary: Remover curtida de um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
      responses:
        "204": { description: Curtida removida }
        "401": { description: Não autenticado }

  /diary/{diaryEntryId}/deletion-impact:
    get:
      tags: [Diary]
      summary: Pré-visualizar o impacto da exclusão de um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
        - name: overrideProtectedEntries
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >
            Mesmo parâmetro de `DELETE /diary/{diaryEntryId}`, e com o mesmo default (`false`) — a
            pré-visualização executa a mesma cascata de delete com o valor informado, então o
            resultado só corresponde ao delete real quando os dois são chamados com o mesmo valor.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeletionImpact" }
        "400": { description: diaryEntryId não é um UUID válido }
        "404": { description: "Registro não encontrado, ou não pertence ao usuário autenticado" }

  /diary/{diaryEntryId}/comments:
    get:
      tags: [Comments]
      summary: Listar comentários de um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/Comment" }
        "401": { description: Não autenticado }
    post:
      tags: [Comments]
      summary: Comentar em um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
[...]
