openapi: 3.0.3
info:
  title: Watchwise API
  description: >
    API do Watchwise — plataforma para acompanhar, avaliar e comentar
    filmes, séries e episódios.

    Filmes, séries, elenco e premiações NÃO são armazenados no banco:
    seus dados vêm sempre da API do TMDB. O backend guarda apenas uma
    referência leve (tmdbId + tipo) para cada conteúdo que o usuário
    interage (comenta, avalia, loga, adiciona a listas, etc), usada
    como chave interna para conectar essas interações.
  version: "0.2.0"

servers:
  - url: https://api.watchwise.app/v1
    description: Produção (placeholder)

tags:
  - name: Auth
  - name: Users
  - name: Content
  - name: Comments
  - name: Ratings
  - name: Lists
  - name: Diary
  - name: Likes
  - name: Notifications
  - name: Search

security:
  - cookieAuth: []

paths:

  # ---------- AUTH ----------
  /auth/register:
    post:
      tags: [Auth]
      summary: Criar conta
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username: { type: string, minLength: 3, maxLength: 60 }
                email: { type: string, format: email, minLength: 11, maxLength: 60 }
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 255
                  description: Deve conter ao menos uma letra maiúscula, uma minúscula e um dígito.
                description:
                  type: string
                  maxLength: 280
                  description: Biografia/descrição de perfil, definida pelo próprio usuário. Opcional no cadastro.
                profilePicture:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: URL da foto de perfil escolhida pelo usuário. Opcional no cadastro; assume uma imagem padrão se omitido.
                isProfilePublic:
                  type: boolean
                  default: true
                  description: Se o perfil é público ou privado. Escolha do usuário; assume público se omitido.
      responses:
        "201":
          description: >
            Conta criada. Cookies HttpOnly de access token e refresh
            token, e o cookie CSRF (XSRF-TOKEN), são emitidos na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "400":
          description: Dados inválidos (falha de validação)
        "409":
          description: Username ou email já cadastrado

  /auth/login:
    post:
      tags: [Auth]
      summary: Login com username ou email
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier:
                  type: string
                  description: Username ou email cadastrado.
                password: { type: string, format: password }
      responses:
        "200":
          description: >
            Login realizado. Cookies HttpOnly de access token e refresh
            token, e o cookie CSRF (XSRF-TOKEN), são emitidos na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401":
          description: Credenciais inválidas

  /auth/logout:
    post:
      tags: [Auth]
      summary: Encerrar sessão
      description: >
        Revoga o refresh token do cookie httpOnly no banco (se presente e
        reconhecido) e limpa os cookies de access token, refresh token e
        CSRF. Idempotente — sempre limpa os cookies mesmo sem refresh
        token válido.
      security: []
      responses:
        "204":
          description: Sessão encerrada; cookies de access, refresh e CSRF limpos

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renovar sessão
      description: >
        Lê o refresh token do cookie httpOnly, valida e rotaciona-o
        (o token usado é revogado e um novo par de cookies é emitido).
        Não recebe corpo de requisição — a autenticação é feita via cookie.
      security: []
      responses:
        "204":
          description: Sessão renovada; novos cookies de access e refresh token emitidos
        "401":
          description: Refresh token ausente, inválido, expirado ou revogado

  /auth/oauth/{provider}:
    post:
      tags: [Auth]
      summary: Login/registro via OAuth (ex Google)
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: "Token OAuth do provedor" }
      responses:
        "200":
          description: Login realizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }

  # ---------- USERS ----------
  /users:
    get:
      tags: [Users]
      summary: Buscar usuários por username
      description: >
        Retorna os usuários cujo username começa com o texto pesquisado
        (case-insensitive), paginado, com resultados de correspondência
        exata primeiro. Perfis privados também aparecem no resultado —
        como cada item traz apenas uma prévia (foto, username e se o
        perfil é público ou privado), nenhum dado restrito é exposto
        aqui. O acesso aos dados completos de um perfil privado segue
        as regras normais em GET /users/{userId}. Não exige autenticação
        — busca é uma ação de navegação, como em qualquer app que permite
        pesquisar sem estar logado.
      security: []
      parameters:
        - name: username
          in: query
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/UserPreviewDTO" }
        "400": { description: Username ausente ou em branco }

  /users/me:
    get:
      tags: [Users]
      summary: Obter usuário autenticado
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401": { description: Não autenticado }
    patch:
      tags: [Users]
      summary: Atualizar perfil do usuário autenticado
      description: >
        Todos os campos são opcionais; apenas os enviados são alterados.
        Exige o cookie CSRF (XSRF-TOKEN) ecoado no header X-XSRF-TOKEN.
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PatchUserDTO" }
      responses:
        "200":
          description: Atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "400": { description: Dados inválidos (falha de validação) }
        "401": { description: Não autenticado }
        "403": { description: Cookie CSRF ausente ou inválido }
        "409": { description: Username ou email já cadastrado }
    delete:
      tags: [Users]
      summary: Excluir a própria conta
      description: >
        Exclusão permanente da conta do usuário autenticado. Exige a
        senha atual como confirmação, já que é uma ação irreversível.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        "204": { description: Conta excluída }
        "400": { description: Senha ausente ou em branco }
        "401": { description: Senha incorreta, ou não autenticado }
        "403": { description: Cookie CSRF ausente ou inválido }

  /users/{userId}:
    get:
      tags: [Users]
      summary: Obter perfil público de um usuário
      description: >
        Retorna o perfil público do usuário (sem email). Se o perfil for
        privado, retorna 403 — o acesso aos dados completos de um perfil
        privado ainda não é suportado. Não exige autenticação: ver um
        perfil público é uma ação de navegação, igual buscar usuários;
        a privacidade do perfil (403 quando privado) é decidida pelo
        dono do perfil, não por quem está olhando estar logado ou não.
      security: []
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicUserDTO" }
        "403": { description: Perfil privado }
        "404": { description: Não encontrado }

  /users/{userId}/followers:
    get:
      tags: [Users]
      summary: Listar seguidores de um usuário
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PublicUserDTO" }

  /users/{userId}/following:
    get:
      tags: [Users]
      summary: Listar quem o usuário segue
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PublicUserDTO" }

  /users/{userId}/follow:
    post:
      tags: [Users]
      summary: Seguir um usuário
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "204": { description: Seguindo }
    delete:
      tags: [Users]
      summary: Deixar de seguir um usuário
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "204": { description: Deixou de seguir }

  /users/{userId}/follow-people/{personTmdbId}:
    post:
      tags: [Users]
      summary: Seguir um ator, diretor ou roteirista (referenciado pelo TMDB)
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/personTmdbId"
      responses:
        "204": { description: Seguindo }
    delete:
      tags: [Users]
      summary: Deixar de seguir uma pessoa
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/personTmdbId"
      responses:
        "204": { description: Deixou de seguir }

  /users/{userId}/top5:
    get:
      tags: [Users]
      summary: Obter o Top 5 de conteúdos do usuário
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                maxItems: 5
                items: { $ref: "#/components/schemas/Top5Entry" }
    put:
      tags: [Users]
      summary: Definir o Top 5 do usuário autenticado
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5
              items:
                type: object
                required: [content, position]
                properties:
                  content: { $ref: "#/components/schemas/ContentRefCreation" }
                  position: { type: integer, minimum: 1, maximum: 5 }
      responses:
        "200": { description: Top 5 atualizado }

  /users/{userId}/summary:
    get:
      tags: [Users]
      summary: >
        Resumo de atividade para a tela inicial (a seguir, em breve,
        assistido nos últimos 30 dias, recém assistido). Os campos de
        conteúdo retornam apenas a referência (tmdbId/tipo) — os
        detalhes de exibição devem ser buscados no TMDB pelo cliente.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ActivitySummary" }

  # ---------- CONTENT (referência local) ----------
  /contents/reference:
    post:
      tags: [Content]
      summary: >
        Obter ou criar a referência local de um conteúdo do TMDB
        (identificado por tmdbId + type, mais seriesTmdbId/seasonNumber/
        episodeNumber quando type é SEASON ou EPISODE). Chamado
        internamente sempre que o usuário interage pela primeira vez
        com um filme, série, temporada ou episódio (comentar, avaliar,
        logar, adicionar a lista, etc). Idempotente.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContentRefCreation" }
      responses:
        "200":
          description: Referência obtida ou criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentRef" }

  /contents/{contentId}/comments:
    get:
      tags: [Comments]
      summary: Listar comentários de um conteúdo
      description: Não exige autenticação — ler comentários é navegação, comentar exige login.
      security: []
      parameters:
        - $ref: "#/components/parameters/contentId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Comment" }
    post:
      tags: [Comments]
      summary: Comentar em um conteúdo
      parameters:
        - $ref: "#/components/parameters/contentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Comment" }

  /contents/{contentId}/ratings:
    get:
      tags: [Ratings]
      summary: Listar avaliações de um conteúdo
      description: Não exige autenticação — ler avaliações é navegação, avaliar exige login.
      security: []
      parameters:
        - $ref: "#/components/parameters/contentId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Rating" }
    post:
      tags: [Ratings]
      summary: Avaliar um conteúdo (nota de 1 a 10)
      parameters:
        - $ref: "#/components/parameters/contentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [score]
              properties:
                score: { type: integer, minimum: 1, maximum: 10 }
      responses:
        "201":
          description: Criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Rating" }

  # ---------- COMMENTS / RATINGS (por id) ----------
  /comments/{commentId}:
    delete:
      tags: [Comments]
      summary: Remover um comentário próprio
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Removido }

  /comments/{commentId}/like:
    post:
      tags: [Likes]
      summary: Curtir um comentário
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Curtido }
    delete:
      tags: [Likes]
      summary: Remover curtida de um comentário
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Curtida removida }

  /ratings/{ratingId}:
    delete:
      tags: [Ratings]
      summary: Remover uma avaliação própria
      parameters:
        - $ref: "#/components/parameters/ratingId"
      responses:
        "204": { description: Removida }

  # ---------- LISTS ----------
  /users/{userId}/lists:
    get:
      tags: [Lists]
      summary: Listar listas de um usuário (respeitando privacidade)
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/UserList" }
    post:
      tags: [Lists]
      summary: Criar uma nova lista
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListCreation" }
      responses:
        "201":
          description: Criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserList" }

  /lists/{listId}:
    get:
      tags: [Lists]
      summary: Obter uma lista com seus itens
      parameters:
        - $ref: "#/components/parameters/listId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserListDetailed" }
    patch:
      tags: [Lists]
      summary: Atualizar dados de uma lista
      parameters:
        - $ref: "#/components/parameters/listId"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListCreation" }
      responses:
        "200": { description: Atualizada }
    delete:
      tags: [Lists]
      summary: Remover uma lista
      parameters:
        - $ref: "#/components/parameters/listId"
      responses:
        "204": { description: Removida }

  /lists/{listId}/items:
    post:
      tags: [Lists]
      summary: Adicionar um conteúdo à lista
      parameters:
        - $ref: "#/components/parameters/listId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { $ref: "#/components/schemas/ContentRefCreation" }
                position: { type: integer }
                description: { type: string }
                score:
                  type: integer
                  minimum: 1
                  maximum: 10
                  nullable: true
                  description: Nota pessoal do usuário para esse item da lista.
      responses:
        "201":
          description: Adicionado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserListItem" }

  /lists/{listId}/items/{itemId}:
    delete:
      tags: [Lists]
      summary: Remover um item da lista
      parameters:
        - $ref: "#/components/parameters/listId"
        - name: itemId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removido }

  # ---------- DIARY / LOG ----------
  /users/{userId}/diary:
    get:
      tags: [Diary]
      summary: Histórico de conteúdos assistidos (diário)
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: year
          in: query
          schema: { type: integer }
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DiaryEntry" }

  /diary:
    post:
      tags: [Diary]
      summary: Registrar que assistiu a um conteúdo
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DiaryEntryCreation" }
      responses:
        "201":
          description: Registrado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DiaryEntry" }

  /diary/{diaryEntryId}:
    patch:
      tags: [Diary]
      summary: Editar um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DiaryEntryCreation" }
      responses:
        "200": { description: Atualizado }
    delete:
      tags: [Diary]
      summary: Remover um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
      responses:
        "204": { description: Removido }

  /diary/{diaryEntryId}/like:
    post:
      tags: [Likes]
      summary: Curtir um registro do diário
      parameters:
        - $ref: "#/components/parameters/diaryEntryId"
      responses:
        "204": { description: Curtido }

  # ---------- NOTIFICATIONS ----------
  /notifications:
    get:
      tags: [Notifications]
      summary: Listar notificações do usuário autenticado
      parameters:
        - name: isRead
          in: query
          schema: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Notification" }

  /notifications/{notificationId}/read:
    patch:
      tags: [Notifications]
      summary: Marcar notificação como lida
      parameters:
        - name: notificationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Atualizada }

  # ---------- SEARCH ----------
  /search:
    get:
      tags: [Search]
      summary: >
        Busca geral. Filmes, séries e pessoas são buscados ao vivo na
        API do TMDB (proxied); listas e usuários são buscados no
        banco local.
      description: Não exige autenticação — buscar é navegação, criar/curtir/avaliar exige login.
      security: []
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
        - name: type
          in: query
          schema:
            type: string
            enum: [MOVIE, SERIES, PERSON, LIST, USER]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SearchResult" }

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: access_token
      description: >
        Token de acesso JWT entregue como cookie HttpOnly (access_token)
        no registro/login. Endpoints que alteram estado fora de /auth/**
        também exigem o cookie CSRF (XSRF-TOKEN) ecoado no header
        X-XSRF-TOKEN.

  parameters:
    userId:
      name: userId
      in: path
      required: true
      schema: { type: string, format: uuid }
    contentId:
      name: contentId
      in: path
      required: true
      description: ID local da referência de conteúdo (ver /contents/reference)
      schema: { type: string, format: uuid }
    commentId:
      name: commentId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ratingId:
      name: ratingId
      in: path
      required: true
      schema: { type: string, format: uuid }
    listId:
      name: listId
      in: path
      required: true
      schema: { type: string, format: uuid }
    diaryEntryId:
      name: diaryEntryId
      in: path
      required: true
      schema: { type: string, format: uuid }
    personTmdbId:
      name: personTmdbId
      in: path
      required: true
      description: ID nativo do TMDB (não é um ID interno do Watchwise).
      schema: { type: string }
    page:
      name: page
      in: query
      description: Página 1-based. Assume 1 se omitida.
      schema: { type: integer, default: 1 }
    size:
      name: size
      in: query
      description: Itens por página (máximo 1000). Assume 20 se omitido.
      schema: { type: integer, default: 20 }

  schemas:
    AuthResponse:
      type: object
      description: >
        O JWT não é retornado no corpo — é entregue via cookie HttpOnly
        (access_token) na resposta.
      properties:
        user: { $ref: "#/components/schemas/UserResponseDTO" }

    UserResponseDTO:
      type: object
      description: Perfil completo, retornado apenas para o próprio usuário autenticado.
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        email: { type: string, format: email }
        description: { type: string, nullable: true }
        profilePicture: { type: string, format: uri }
        isProfilePublic: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    PublicUserDTO:
      type: object
      description: >
        Perfil público de outro usuário — não inclui email. Usado sempre
        que um usuário é exibido para terceiros (perfil público, autor de
        comentário/avaliação, seguidores, resultado de busca).
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        description: { type: string, nullable: true }
        profilePicture: { type: string, format: uri }
        isProfilePublic: { type: boolean }
        createdAt: { type: string, format: date-time }

    PatchUserDTO:
      type: object
      properties:
        username: { type: string, minLength: 3, maxLength: 60 }
        email: { type: string, format: email, minLength: 11, maxLength: 60 }
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 255
          description: Deve conter ao menos uma letra maiúscula, uma minúscula e um dígito.
        description: { type: string, maxLength: 280 }
        profilePicture: { type: string, format: uri, maxLength: 2048 }
        isProfilePublic: { type: boolean }

    UserPreviewDTO:
      type: object
      description: >
        Versão resumida do usuário para resultados de busca. Não inclui
        email, descrição nem outros dados restritos, por isso pode ser
        retornada mesmo para perfis privados.
      properties:
        id: { type: string, format: uuid }
        username: { type: string }
        profilePicture: { type: string, format: uri }
        isProfilePublic: { type: boolean }

    ContentRefCreation:
      type: object
      required: [type]
      description: >
        Identifica um conteúdo do TMDB. Para MOVIE e SERIES, o tmdbId
        (ID nativo do próprio filme/série) é obrigatório e basta
        sozinho para buscar detalhes no TMDB (`/movie/{tmdbId}`,
        `/tv/{tmdbId}`). SEASON e EPISODE não têm endpoint de busca
        direta por ID no TMDB — exigem a chave composta série +
        temporada (+ episódio) — por isso não usam tmdbId (o ID
        próprio de uma temporada/episódio no TMDB não serve pra buscar
        nada) e em vez disso exigem seriesTmdbId e seasonNumber
        (episodeNumber também, só em EPISODE):
        `/tv/{seriesTmdbId}/season/{seasonNumber}` e
        `/tv/{seriesTmdbId}/season/{seasonNumber}/episode/{episodeNumber}`.
      properties:
        tmdbId:
          type: string
          description: Obrigatório quando type é MOVIE ou SERIES; ausente em SEASON/EPISODE.
        type: { type: string, enum: [MOVIE, SERIES, SEASON, EPISODE] }
        seriesTmdbId:
          type: string
          description: Obrigatório quando type é SEASON ou EPISODE; ausente em MOVIE/SERIES.
        seasonNumber:
          type: integer
          description: Obrigatório quando type é SEASON ou EPISODE; ausente em MOVIE/SERIES.
        episodeNumber:
          type: integer
          description: Obrigatório quando type é EPISODE; ausente nos demais.

    ContentRef:
      allOf:
        - $ref: "#/components/schemas/ContentRefCreation"
        - type: object
          properties:
            id: { type: string, format: uuid, description: ID local, usado nas demais rotas }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }

    Top5Entry:
      type: object
      properties:
        content: { $ref: "#/components/schemas/ContentRef" }
        position: { type: integer }

    ActivitySummary:
      type: object
      properties:
        upcoming:
          type: array
          items: { $ref: "#/components/schemas/ContentRef" }
        comingSoon:
          type: array
          items: { $ref: "#/components/schemas/ContentRef" }
        watchedLast30Days:
          type: object
          properties:
            totalMinutes: { type: integer }
            episodeCount: { type: integer }
            byDay:
              type: array
              items:
                type: object
                properties:
                  date: { type: string, format: date }
                  count: { type: integer }
        recentlyWatched:
          type: array
          items: { $ref: "#/components/schemas/DiaryEntry" }

    Comment:
      type: object
      properties:
        id: { type: string, format: uuid }
        user: { $ref: "#/components/schemas/PublicUserDTO" }
        contentId: { type: string, format: uuid }
        text: { type: string }
        upvotes: { type: integer }
        downvotes: { type: integer }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Rating:
      type: object
      properties:
        id: { type: string, format: uuid }
        user: { $ref: "#/components/schemas/PublicUserDTO" }
        contentId: { type: string, format: uuid }
        score: { type: integer, minimum: 1, maximum: 10 }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    UserListCreation:
      type: object
      required: [name]
      properties:
        name: { type: string }
        description: { type: string }
        isPublic: { type: boolean, default: true }

    UserList:
      allOf:
        - $ref: "#/components/schemas/UserListCreation"
        - type: object
          properties:
            id: { type: string, format: uuid }
            userId: { type: string, format: uuid }
            watchedPercentage: { type: number, format: float }
            createdAt: { type: string, format: date-time }
            updatedAt: { type: string, format: date-time }

    UserListDetailed:
      allOf:
        - $ref: "#/components/schemas/UserList"
        - type: object
          properties:
            items:
              type: array
              items: { $ref: "#/components/schemas/UserListItem" }

    UserListItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        content: { $ref: "#/components/schemas/ContentRef" }
        position: { type: integer }
        score: { type: integer, nullable: true }
        description: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    DiaryEntryCreation:
      type: object
      required: [content, watchedDate]
      properties:
        content: { $ref: "#/components/schemas/ContentRefCreation" }
        comment: { type: string, nullable: true }
        score: { type: integer, minimum: 1, maximum: 10, nullable: true }
        watchedDate: { type: string, format: date }
        watchedInTheater: { type: boolean, nullable: true, description: "TBD" }
        customPosterUrl: { type: string, format: uri, nullable: true }

    DiaryEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        content: { $ref: "#/components/schemas/ContentRef" }
        comment: { type: string, nullable: true }
        score: { type: integer, nullable: true }
        watchedDate: { type: string, format: date }
        watchedInTheater: { type: boolean, nullable: true }
        customPosterUrl: { type: string, format: uri, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    Notification:
      type: object
      properties:
        id: { type: string, format: uuid }
        type:
          type: string
          enum: [RELEASE, CANCELLATION, DELAY]
        message: { type: string }
        content: { $ref: "#/components/schemas/ContentRef" }
        isRead: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    SearchResult:
      type: object
      properties:
        contents:
          type: array
          description: Resultado ao vivo do TMDB (filmes/séries)
          items:
            type: object
            properties:
              tmdbId: { type: string }
              type: { type: string, enum: [MOVIE, SERIES] }
              title: { type: string }
              posterUrl: { type: string, format: uri }
              year: { type: integer }
        people:
          type: array
          description: Resultado ao vivo do TMDB
          items:
            type: object
            properties:
              tmdbId: { type: string }
              name: { type: string }
              photo: { type: string, format: uri }
        lists:
          type: array
          items: { $ref: "#/components/schemas/UserList" }
        users:
          type: array
          items: { $ref: "#/components/schemas/PublicUserDTO" }
