openapi: 3.0.3
info:
  title: Watchwise API
  description: >
    API do Watchwise — plataforma para acompanhar, avaliar e comentar
    filmes, séries e episódios.

    Filmes, séries, elenco e premiações NÃO são armazenados no banco:
    seus dados vêm sempre da API do TMDB. O backend guarda apenas uma
    referência leve (tmdbId + tipo) para cada conteúdo que o usuário
    interage (comenta, avalia, loga, adiciona a listas, etc), usada
    como chave interna para conectar essas interações.
  version: "0.3.0"

servers:
  - url: https://api.watchwise.app/v1
    description: Produção (placeholder)

tags:
  - name: Auth
  - name: Users
  - name: Followers
  - name: Follow People
  - name: People
  - name: Top5
  - name: Watchlist
  - name: Dropped
  - name: Picks Templates
  - name: Picks
  - name: Content
  - name: Comments
  - name: Lists
  - name: Diary
  - name: Likes
  - name: Notifications
  - name: Search
  - name: Trending
  - name: Feed
  - name: Games

security:
  - cookieAuth: []

paths:

  # ---------- AUTH ----------
  /auth/register:
    post:
      tags: [Auth]
      summary: Criar conta
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username: { type: string, minLength: 3, maxLength: 60 }
                email: { type: string, format: email, minLength: 11, maxLength: 60 }
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 255
                  pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$'
                  description: Deve conter ao menos uma letra maiúscula, uma minúscula e um dígito.
                description:
                  type: string
                  maxLength: 280
                  description: Biografia/descrição de perfil, definida pelo próprio usuário. Opcional no cadastro.
                profilePicture:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: URL da foto de perfil escolhida pelo usuário. Opcional no cadastro; assume uma imagem padrão se omitido.
                banner:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: URL do banner de perfil escolhido pelo usuário. Opcional no cadastro; sem valor default (nulo se omitido).
                isProfilePublic:
                  type: boolean
                  default: true
                  description: Se o perfil é público ou privado. Escolha do usuário; assume público se omitido.
      responses:
        "201":
          description: >
            Conta criada. Cookies HttpOnly de access token e refresh
            token, e o cookie CSRF (XSRF-TOKEN), são emitidos na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "400":
          description: Dados inválidos (falha de validação)
        "409":
          description: Username ou email já cadastrado, ou sessão já autenticada
        "429":
          description: >
            Muitas tentativas de cadastro vindas desse IP. Tente
            novamente após o período configurado.

  /auth/login:
    post:
      tags: [Auth]
      summary: Login com username ou email
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier:
                  type: string
                  minLength: 1
                  description: Username ou email cadastrado.
                password: { type: string, format: password, minLength: 1 }
      responses:
        "200":
          description: >
            Login realizado. Cookies HttpOnly de access token e refresh
            token, e o cookie CSRF (XSRF-TOKEN), são emitidos na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401":
          description: Credenciais inválidas
        "409":
          description: Sessão já autenticada
        "429":
          description: >
            Muitas tentativas de login sem sucesso para essa combinação
            de IP e identifier. Tente novamente após o período de bloqueio.

  /auth/logout:
    post:
      tags: [Auth]
      summary: Encerrar sessão
      description: >
        Revoga o refresh token do cookie httpOnly no banco (se presente e
        reconhecido) e limpa os cookies de access token, refresh token e
        CSRF. Idempotente — sempre limpa os cookies mesmo sem refresh
        token válido.
      security: []
      responses:
        "204":
          description: Sessão encerrada; cookies de access, refresh e CSRF limpos

  /auth/logout-all:
    post:
      tags: [Auth]
      summary: Encerrar sessão em todos os dispositivos
      description: >
        Revoga todos os refresh tokens do usuário autenticado (não só o do
        dispositivo atual) e limpa os cookies de access token, refresh
        token e CSRF do dispositivo que fez a chamada. Exige o cookie CSRF
        (XSRF-TOKEN) ecoado no header X-XSRF-TOKEN.
      responses:
        "204":
          description: Sessão encerrada em todos os dispositivos; cookies de access, refresh e CSRF limpos
        "401":
          description: Não autenticado
        "403":
          description: Cookie ou header CSRF ausente ou inválido

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Renovar sessão
      description: >
        Lê o refresh token do cookie httpOnly, valida e rotaciona-o
        (o token usado é revogado e um novo par de cookies é emitido).
        Não recebe corpo de requisição — a autenticação é feita via cookie.
      security: []
      responses:
        "204":
          description: Sessão renovada; novos cookies de access e refresh token emitidos
        "401":
          description: Refresh token ausente, inválido, expirado ou revogado
        "429":
          description: >
            Muitas chamadas de refresh vindas desse IP. Tente novamente
            após o período configurado.

  /auth/oauth/{provider}:
    post:
      tags: [Auth]
      summary: Login via OAuth (ex Google)
      description: >
        Autentica um usuário já cadastrado, a partir de um e-mail
        confirmado pelo provedor OAuth. Não registra conta nova: se não
        existir um usuário local com esse e-mail, o cadastro segue pelo
        fluxo tradicional em POST /auth/register (o frontend pode
        pré-preencher o campo email com o valor devolvido no 404). Uma
        conta com o mesmo e-mail é vinculada automaticamente,
        independentemente de ter sido criada originalmente pelo
        cadastro tradicional ou por um login OAuth anterior.
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema: { type: string, enum: [google] }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, minLength: 1, description: "Token OAuth do provedor" }
      responses:
        "400":
          description: Provider fora do enum aceito (hoje só google)
        "200":
          description: >
            Login realizado — já existia um usuário local com o e-mail
            confirmado pelo provedor. Cookies HttpOnly de access token
            e refresh token, e o cookie CSRF (XSRF-TOKEN), são emitidos
            na resposta.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401":
          description: >
            Token do provedor inválido ou expirado, ou o e-mail
            retornado pelo provedor não é verificado
            (email_verified = false).
        "404":
          description: >
            Nenhum usuário local tem esse e-mail. O corpo traz o e-mail
            confirmado pelo provedor, para o frontend pré-preencher a
            tela de cadastro (POST /auth/register).
          content:
            application/json:
              schema:
                type: object
                properties:
                  email: { type: string, format: email }
        "409":
          description: Sessão já autenticada
        "429":
          description: >
            Muitas tentativas de login via OAuth vindas desse IP. Tente
            novamente após o período configurado.

  # ---------- USERS ----------
  /users:
    get:
      tags: [Users]
      summary: Buscar usuários por username
      description: >
        Retorna os usuários cujo username começa com o texto pesquisado
        (case-insensitive), paginado, com resultados de correspondência
        exata primeiro. Perfis privados também aparecem no resultado —
        como cada item traz apenas uma prévia (foto, username e se o
        perfil é público ou privado), nenhum dado restrito é exposto
        aqui. O acesso aos dados completos de um perfil privado segue
        as regras normais em GET /users/{userId}. Exige autenticação,
        como qualquer outra rota fora da discover (ver Access policy
        no CLAUDE.md).
      parameters:
        - name: username
          in: query
          required: true
          schema: { type: string }
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/UserPreviewDTO" }
        "400": { description: Username ausente ou em branco }
        "401": { description: Não autenticado }
        "429": { description: "Muitas requisições de busca/consulta de perfil vindas desse usuário (bucket compartilhado com GET /users/{userId})" }

  /users/me:
    get:
      tags: [Users]
      summary: Obter usuário autenticado
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "401": { description: Não autenticado }
        "404": { description: "Conta apagada em outra sessão entre a emissão do token e esta requisição" }
    patch:
      tags: [Users]
      summary: Atualizar perfil do usuário autenticado
      description: >
        Todos os campos são opcionais; apenas os enviados são alterados.
        Exige o cookie CSRF (XSRF-TOKEN) ecoado no header X-XSRF-TOKEN.
        Trocar `password` ou `email` exige `currentPassword` com a senha
        atual, como confirmação — os demais campos não exigem. Trocar
        `password` ou `email` também revoga todos os refresh tokens do
        usuário (mesmo efeito de `POST /auth/logout-all`), inclusive os de
        outras sessões/dispositivos.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PatchUserDTO" }
      responses:
        "200":
          description: Atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserResponseDTO" }
        "400": { description: "Dados inválidos (falha de validação), ou currentPassword ausente ao trocar password/email" }
        "401": { description: "Não autenticado, ou currentPassword incorreto ao trocar password/email" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Conta apagada em outra sessão entre a emissão do token e esta requisição" }
        "409": { description: Username ou email já cadastrado }
        "429": { description: "Muitas tentativas de currentPassword incorreto ao trocar password/email. Tente novamente após o período configurado." }
    delete:
      tags: [Users]
      summary: Excluir a própria conta
      description: >
        Exclusão permanente da conta do usuário autenticado. Exige a
        senha atual como confirmação, já que é uma ação irreversível.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password, minLength: 1 }
      responses:
        "204": { description: Conta excluída }
        "400": { description: Senha ausente ou em branco }
        "401": { description: "Senha incorreta, ou não autenticado" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Conta já apagada em outra sessão entre a emissão do token e esta requisição" }
        "429": { description: "Muitas tentativas de senha incorreta. Tente novamente após o período configurado." }

  /users/me/content-posters/{contentId}:
    put:
      tags: [Content Posters]
      summary: Definir ou substituir o poster customizado do conteudo
      description: >
        Persiste o poster customizado para o Content ja existente e para o usuario autenticado.
        O URL deve usar exatamente o prefixo TMDB w342. A rota exige o cookie CSRF e o header
        X-XSRF-TOKEN; o poster pertence sempre ao usuario autenticado.
      parameters:
        - name: contentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserContentPosterRequest" }
      responses:
        "200":
          description: Poster salvo
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserContentPosterResponse" }
        "400": { description: URL de poster invalido ou contentId nao e um UUID valido }
        "401": { description: Nao autenticado }
        "403": { description: Cookie CSRF ausente ou invalido }
        "404": { description: Content nao encontrado }
    delete:
      tags: [Content Posters]
      summary: Remover o poster customizado do conteudo
      description: >
        Remove somente o poster do usuario autenticado. A operacao e idempotente: quando nao existe
        uma linha, continua retornando 204 e o cliente volta a usar o poster do TMDB.
      parameters:
        - name: contentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Poster removido ou inexistente }
        "400": { description: contentId nao e um UUID valido }
        "401": { description: Nao autenticado }
        "403": { description: Cookie CSRF ausente ou invalido }

  /users/{userId}:
    get:
      tags: [Users]
      summary: Obter perfil de um usuário
      description: >
        Retorna o perfil do usuário (sem email). Se o perfil for público,
        qualquer usuário autenticado pode consultar. Se for privado, só o
        próprio dono ou quem o segue com uma relação ACCEPTED pode consultar;
        uma solicitação PENDING não concede acesso. Exige autenticação, como
        qualquer outra rota fora da discover (ver Access policy no CLAUDE.md).
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicUserProfileDTO" }
        "400": { description: userId não é um UUID válido }
        "401": { description: Não autenticado }
        "403": { description: "Perfil privado e quem pede não é o dono nem um seguidor aceito" }
        "404": { description: Não encontrado }
        "429": { description: "Muitas requisições de busca/consulta de perfil vindas desse usuário (bucket compartilhado com GET /users)" }

  /users/{userId}/followers:
    get:
      tags: [Followers]
      summary: Listar seguidores de um usuário
      description: >
        Se o perfil de {userId} for público, qualquer usuário autenticado
        pode ver a lista. Se for privado, só o próprio dono do perfil ou
        quem já o segue de verdade (relação com status ACCEPTED) pode
        ver — do contrário, 403. Só aparecem seguidores com status
        ACCEPTED (solicitações pendentes não contam).
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/PublicUserDTO" }
        "400": { description: "Número ou tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/following:
    get:
      tags: [Followers]
      summary: Listar quem o usuário segue
      description: >
        Mesma regra de acesso de GET /users/{userId}/followers. Só
        aparecem relações com status ACCEPTED.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/PublicUserDTO" }
        "400": { description: "Número ou tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/follow:
    post:
      tags: [Followers]
      summary: Seguir um usuário (ou solicitar, se o perfil for privado)
      description: >
        Se o perfil de {userId} for público, a relação nasce já como
        seguindo (status ACCEPTED). Se for privado, nasce como
        solicitação pendente (status PENDING) — só vira seguidor de
        verdade quando o dono do perfil aceitar em
        POST /users/me/follow-requests/{requesterId}/accept.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: >
            Relação criada. O corpo indica se já ficou seguindo ou se a
            solicitação ficou pendente de aceite.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [PENDING, ACCEPTED] }
        "400": { description: "Tentativa de seguir a si mesmo, ou userId não é um UUID válido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Usuário-alvo não encontrado }
        "409": { description: Já segue ou já solicitou seguir esse usuário }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
    delete:
      tags: [Followers]
      summary: Deixar de seguir um usuário (ou cancelar solicitação pendente)
      description: >
        Funciona tanto para desfazer um follow já aceito quanto para
        cancelar uma solicitação ainda pendente — as duas situações são
        a mesma linha na tabela, só muda o status.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "204": { description: "Deixou de seguir, ou solicitação cancelada" }
        "400": { description: userId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Relação (seguindo ou solicitação) não existia }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }

  /users/me/follow-requests:
    get:
      tags: [Followers]
      summary: Listar solicitações de seguir pendentes recebidas
      description: >
        Solicitações (status PENDING) que outros usuários enviaram pra
        seguir o usuário autenticado, aguardando aceite ou recusa.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/PublicUserDTO" }
        "400": { description: Número ou tamanho de página inválido }

  /users/me/follow-requests/{requesterId}/accept:
    post:
      tags: [Followers]
      summary: Aceitar uma solicitação de seguir pendente
      parameters:
        - $ref: "#/components/parameters/requesterId"
      responses:
        "204": { description: Solicitação aceita — status vira ACCEPTED }
        "400": { description: requesterId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Não existe solicitação pendente desse usuário }

  /users/me/follow-requests/{requesterId}:
    delete:
      tags: [Followers]
      summary: Recusar uma solicitação de seguir pendente
      parameters:
        - $ref: "#/components/parameters/requesterId"
      responses:
        "204": { description: Solicitação recusada e removida }
        "400": { description: requesterId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: Não existe solicitação pendente desse usuário }

  /users/me/follow-people/{personTmdbId}:
    post:
      tags: [Follow People]
      summary: Seguir um ator, diretor ou roteirista (referenciado pelo TMDB)
      description: >
        Sempre em nome do usuário autenticado — não existe conceito de
        "solicitar" ou "seguir em nome de outro usuário" aqui, diferente
        de POST /users/{userId}/follow. Idempotente: seguir uma pessoa
        já seguida não é erro.
      parameters:
        - $ref: "#/components/parameters/personTmdbId"
      responses:
        "204": { description: Seguindo }
        "400": { description: personTmdbId não é numérico, ou tem mais de 20 dígitos }
        "403": { description: Cookie CSRF ausente ou inválido }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
    delete:
      tags: [Follow People]
      summary: Deixar de seguir uma pessoa
      description: >
        Sempre em nome do usuário autenticado. Idempotente: deixar de
        seguir quem não era seguido não é erro.
      parameters:
        - $ref: "#/components/parameters/personTmdbId"
      responses:
        "204": { description: Deixou de seguir }
        "400": { description: personTmdbId não é numérico, ou tem mais de 20 dígitos }
        "403": { description: Cookie CSRF ausente ou inválido }
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }

  /users/{userId}/follow-people:
    get:
      tags: [Follow People]
      summary: Listar pessoas do TMDB que um usuário segue
      description: >
        Mesma regra de acesso de GET /users/{userId}/followers: se o
        perfil de {userId} for público, ou se for o próprio dono do
        perfil, qualquer usuário autenticado pode ver a lista; se for
        privado, só quem já o segue de verdade (relação com status
        ACCEPTED) pode ver — do contrário, 403. Como pessoas do TMDB
        não são armazenadas localmente, a resposta traz só os
        personTmdbId seguidos, sem dados de nome/foto.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { type: string }
        "400": { description: "Número ou tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/top5/{type}:
    get:
      tags: [Top5]
      summary: Obter o Top 5 de filmes ou séries do usuário
      description: >
        type só aceita MOVIE ou SERIES — SEASON/EPISODE não são válidos para Top 5. Mesma regra
        de acesso de GET /users/{userId}/followers: se o perfil de {userId} for público, ou se
        for o próprio dono do perfil, qualquer usuário autenticado pode ver; se for privado, só
        quem já o segue de verdade (relação com status ACCEPTED) pode ver — do contrário, 403.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/top5Type"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                maxItems: 5
                items: { $ref: "#/components/schemas/Top5Entry" }
        "400": { description: "type não é MOVIE nem SERIES, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/me/top5/{type}:
    post:
      tags: [Top5]
      summary: Inserir um conteúdo no Top 5 do usuário autenticado
      description: >
        Insere content na posição position, empurrando as posições seguintes uma casa para
        baixo — o que estiver na posição 5 é removido do Top 5. position é opcional enquanto
        houver menos de 5 entradas (insere na próxima posição livre); se já houver 5, é
        obrigatório. Um conteúdo já presente no Top 5 não pode ser inserido de novo (409) —
        não existe operação de "mover", só inserir/remover. Diferente de outros endpoints que
        recebem conteúdo (comentários, itens de lista, diário), aqui basta o tmdbId: o type
        já vem fixado no path e só MOVIE/SERIES são aceitos, então os campos de
        SEASON/EPISODE de ContentRefCreation nunca se aplicariam a essa rota.
      parameters:
        - $ref: "#/components/parameters/top5Type"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tmdbId]
              properties:
                tmdbId: { type: string, minLength: 1 }
                position: { type: integer, minimum: 1, maximum: 5, nullable: true }
                customPosterUrl: { type: string, format: uri, maxLength: 2048, pattern: '^https://image\.tmdb\.org/t/p/w342/.+$', nullable: true }
      responses:
        "201":
          description: Inserido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Top5Entry" }
        "400":
          description: >
            type não é MOVIE nem SERIES, ou position é obrigatório porque o Top 5 já tem 5
            entradas, ou position é maior que a próxima posição livre (count + 1), ou tmdbId
            ausente/inválido.
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Esse tmdbId não corresponde a nenhum título real no TMDB — só verificado na
            primeira vez que essa referência é criada (ver POST /contents/reference).
        "409":
          description: >
            Esse conteúdo já está no Top 5 deste type, ou a posição informada já está ocupada
            (corrida concorrente).
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId — só na primeira vez que
            essa referência é criada (ver POST /contents/reference).

  /users/me/top5/{type}/{top5EntryId}:
    patch:
      tags: [Top5]
      summary: Editar o poster customizado de uma entrada do Top 5 do usuário autenticado
      description: >
        Único campo editável de uma entrada já existente — não existe operação de "mover", só
        inserir/remover (ver POST/DELETE abaixo). null em customPosterUrl significa "não alterar".
      parameters:
        - $ref: "#/components/parameters/top5Type"
        - name: top5EntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/Top5EntryPatch" }
      responses:
        "200":
          description: Atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Top5Entry" }
        "400": { description: "top5EntryId não é um UUID válido, ou customPosterUrl inválido (mais de 2048 caracteres ou não é uma URL)" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }
    delete:
      tags: [Top5]
      summary: Remover uma entrada do Top 5 do usuário autenticado
      description: Remove a entrada e desloca as posições seguintes uma casa para cima, fechando o buraco.
      parameters:
        - $ref: "#/components/parameters/top5Type"
        - name: top5EntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removido }
        "400": { description: top5EntryId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }

  /users/{userId}/watchlist:
    get:
      tags: [Watchlist]
      summary: Obter a watchlist (quero assistir) de filmes ou séries do usuário
      description: >
        type é opcional e só aceita MOVIE ou SERIES. Quando omitido, a resposta mistura os dois tipos
        na ordem global de position; quando informado, o filtro preserva a position global e pode
        produzir lacunas. A resposta é paginada e inclui upcomingCount, a quantidade global de séries
        com releaseDate posterior ao dia atual. A data de cada item é contextual à região preferida
        do dono da watchlist para filmes e à first_air_date do TMDB para séries. Snapshot ausente é
        preenchido antes da resposta; snapshot vencido pode ser servido enquanto o refresh ocorre em
        segundo plano. A visibilidade segue GET /users/{userId}/followers: perfil público ou próprio
        dono permite a leitura; perfil privado exige relação ACCEPTED.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/watchlistTypeQuery"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK, ordenado por position crescente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/WatchlistEntry" }
                      upcomingCount:
                        type: integer
                        format: int64
                        minimum: 0
                        description: Quantidade global de series com data posterior ao dia atual.
        "400": { description: "type não é MOVIE nem SERIES, número/tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }
        "502": { description: TMDB indisponível ao preencher um snapshot ausente de data de lançamento }

  /users/me/watchlist/{type}:
    post:
      tags: [Watchlist]
      summary: Adicionar um conteúdo à watchlist do usuário autenticado
      description: >
        Insere content sempre na última posição global da watchlist — filmes e séries compartilham a
        mesma sequência, sem teto de itens nem eviction. position não é aceito no corpo: um item novo
        sempre entra no fim da fila. A única forma de adiantar um item é reordenar depois via PATCH.
        Um conteúdo já presente na watchlist desse type não pode ser inserido de novo (409). O
        snapshot de data de lançamento é aquecido durante a inclusão.
      parameters:
        - $ref: "#/components/parameters/watchlistType"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tmdbId]
              properties:
                tmdbId: { type: string, minLength: 1 }
      responses:
        "201":
          description: Inserido no fim da watchlist
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WatchlistEntry" }
        "400": { description: "type não é MOVIE nem SERIES, ou tmdbId ausente/inválido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Esse tmdbId não corresponde a nenhum título real no TMDB — só verificado na
            primeira vez que essa referência é criada (ver POST /contents/reference).
        "409":
          description: >
            Esse conteúdo já está na watchlist deste type, ou a última posição foi ocupada por uma
            inserção concorrente.
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId — só na primeira vez que
            essa referência é criada (ver POST /contents/reference).

  /users/me/watchlist/{type}/{watchlistEntryId}:
    patch:
      tags: [Watchlist]
      summary: Reordenar uma entrada da watchlist do usuário autenticado
      description: >
        Move a entrada para position, deslocando as entradas entre a posição antiga e a nova uma
        casa para abrir espaço — é a única forma de uma entrada avançar na watchlist, já que o
        insert sempre entra no fim. position deve estar entre 1 e o total de entradas atuais da
        watchlist global (não é possível "mover para o fim" além do que já existe; para isso, remova
        e insira de novo). Se position for igual à posição atual da entrada, não faz nada. O tipo no
        path continua obrigatório para validar a entrada, embora a posição atravesse os dois tipos.
      parameters:
        - $ref: "#/components/parameters/watchlistType"
        - name: watchlistEntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [position]
              properties:
                position: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Reordenado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WatchlistEntry" }
        "400":
          description: >
            type não é MOVIE nem SERIES, watchlistEntryId não é um UUID válido, ou position
            ausente/menor que 1/maior que o total de entradas atuais.
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }
        "409": { description: Reordenação concorrente na mesma watchlist. Tente novamente. }
    delete:
      tags: [Watchlist]
      summary: Remover uma entrada da watchlist do usuário autenticado
      description: Remove a entrada e desloca as posições seguintes uma casa para cima, fechando o buraco.
      parameters:
        - $ref: "#/components/parameters/watchlistType"
        - name: watchlistEntryId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Removido }
        "400": { description: watchlistEntryId não é um UUID válido }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404": { description: "Entrada não encontrada, não pertence ao usuário autenticado, ou não é desse type" }

  /users/{userId}/dropped/{type}:
    get:
      tags: [Dropped]
      summary: Listar os filmes ou séries que o usuário abandonou no meio
      description: >
        type só aceita MOVIE ou SERIES — SEASON/EPISODE não são válidos, igual ao Top 5 e à
        watchlist. Mesma regra de acesso de GET /users/{userId}/followers: se o perfil de {userId}
        for público, ou se for o próprio dono do perfil, qualquer usuário autenticado pode ver; se
        for privado, só quem já o segue de verdade (relação com status ACCEPTED) pode ver — do
        contrário, 403.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/droppedType"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK, ordenado por createdAt decrescente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/DroppedEntry" }
        "400": { description: "type não é MOVIE nem SERIES, número/tamanho de página inválido, ou userId não é um UUID válido" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/me/dropped/{type}/{tmdbId}:
    post:
      tags: [Dropped]
      summary: Marcar um filme ou série como abandonado
      description: >
        Sempre em nome do usuário autenticado. Idempotente: marcar um conteúdo já marcado não é
        erro — se já existir uma marcação para esse type+tmdbId, comment (se informado) sobrescreve
        o valor salvo; se omitido, a marcação existente não é alterada. Efeito colateral automático:
        remove (se existir) a entrada correspondente na watchlist do usuário — abandonar volta a ser
        "não quero mais assistir", então não faz sentido continuar marcado como "quero assistir".
        Não apaga nem altera nenhuma DiaryEntry existente desse conteúdo — os dois convivem lado a
        lado; logar de novo depois não desmarca automaticamente essa marcação em si (embora
        POST /diary remova tanto a watchlist quanto essa marcação como efeito colateral separado —
        ver DiaryEntryCreation).
      parameters:
        - $ref: "#/components/parameters/droppedType"
        - name: tmdbId
          in: path
          required: true
          description: tmdbId nativo do TMDB do filme/série (não é um ID interno do Watchwise).
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment: { type: string, nullable: true, maxLength: 280 }
      responses:
        "204": { description: Marcado como abandonado }
        "400": { description: "type não é MOVIE nem SERIES, ou comment maior que 280 caracteres" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Esse tmdbId não corresponde a nenhum título real no TMDB — só verificado na
            primeira vez que essa referência é criada (ver POST /contents/reference).
        "429": { description: Muitas chamadas vindas desse usuário. Tente novamente após o período configurado. }
        "502":
          description: >
            TMDB indisponível ao verificar a existência do tmdbId — só na primeira vez que
            essa referência é criada (ver POST /contents/reference).
    delete:
      tags: [Dropped]
      summary: Desmarcar um filme ou série como abandonado
      description: Idempotente — desmarcar um conteúdo que não estava marcado não é erro.
      parameters:
        - $ref: "#/components/parameters/droppedType"
        - name: tmdbId
          in: path
          required: true
          description: tmdbId nativo do TMDB do filme/série (não é um ID interno do Watchwise).
          schema: { type: string }
      responses:
        "204": { description: Desmarcado }
        "400": { description: type não é MOVIE nem SERIES }
        "403": { description: Cookie CSRF ausente ou inválido }

  /users/{userId}/summary:
    get:
      tags: [Users]
      summary: Resumo de atividade para a tela de Perfil (dividido entre Filme e Série)
      description: >
        type é obrigatório e escopa TODA a resposta — não existe uma variante "os dois juntos";
        o cliente chama de novo ao trocar de aba, mesmo padrão de Top5Entry/WatchlistEntry/
        DroppedEntry. Todos os números/listas abaixo são só do type pedido: MOVIE olha
        DiaryEntry de conteúdo MOVIE; SERIES olha DiaryEntry de conteúdo EPISODE (é daí que vem
        o tempo assistido/gêneros/notas de uma série — completar a série em si não soma tempo,
        só marca conclusão) exceto recentActivity, que usa a DiaryEntry de nível SERIES (o
        marcador de conclusão) em vez de episódios individuais. Não existe um serviço de domínio
        próprio aqui — é só agregação sobre consultas que já existem em Diary/Dropped.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: type
          in: query
          required: true
          schema: { type: string, enum: [MOVIE, SERIES] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Summary" }
        "400": { description: "type ausente ou não é MOVIE/SERIES" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/home:
    get:
      tags: [Users]
      summary: Resumo de atividade para a tela Home
      description: >
        Sem type — combina MOVIE e SERIES/EPISODE, diferente de GET /users/{userId}/summary. Sem
        serviço de domínio próprio, agrega consultas que já existem em Diary/Summary; as duas
        janelas de 30 dias (watchCountByDayLast30Days/genreCounts*Last30Days) são rolantes a partir
        de hoje, não o mês calendário do Month in Review. O preview de calendário de 7 dias da tela
        (episódios/filmes que vão ser lançados) não está aqui — depende de data de lançamento
        (TMDB), que Content nunca guarda; o cliente cruza nextEpisodes + GET
        /users/{userId}/watchlist?type=MOVIE|SERIES com o TMDB.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HomeSummary" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/month:
    get:
      tags: [Users]
      summary: Month in Review (dividido em Movie Edition e Tv Edition), estilo Trakt
      description: >
        type escopa toda a resposta, mesma regra de GET /users/{userId}/summary. topSeriesByWatchTime
        só é preenchido quando type=SERIES; topLongestMovies só quando type=MOVIE. topRated/bottomRated
        são no nível do título (MOVIE/SERIES), não no nível de episódio — quem já está no Top5 do
        usuário aparece primeiro dentro da lista já ordenada por nota.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: type
          in: query
          required: true
          schema: { type: string, enum: [MOVIE, SERIES] }
        - name: month
          in: query
          required: true
          description: Formato YYYY-MM.
          schema: { type: string, example: "2026-08" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MonthInReview" }
        "400": { description: "type ausente/inválido, ou month ausente/fora do formato YYYY-MM" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/year:
    get:
      tags: [Users]
      summary: Year in Review (dividido em Movie Edition e Tv Edition), estilo Trakt
      description: >
        Mesmas regras de escopo de GET /users/{userId}/summary/month, só que pro ano inteiro e com
        limites de 10 em vez de 6. longestWatched combina, num único ranking, filmes (duração própria)
        e séries (soma do runtime dos episódios assistidos no ano) — só um dos dois tipos é populado
        por chamada, de acordo com o type pedido.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: type
          in: query
          required: true
          schema: { type: string, enum: [MOVIE, SERIES] }
        - name: year
          in: query
          required: true
          schema: { type: integer, example: 2026 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/YearInReview" }
        "400": { description: "type ausente/inválido, ou year ausente" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/summary/all-time:
    get:
      tags: [Users]
      summary: All Time Stats, estilo Trakt
      description: >
        Ao contrário de summary/summary-month/summary-year, não tem parâmetro type — combina filme e
        série numa resposta só. Contagens/gêneros que fariam sentido por tipo vêm em pares de listas
        (ex. watchCountByYearMovies/watchCountByYearEpisodes, genreCountsMovies/genreCountsSeries);
        rankings que fazem sentido misturados (mostLoggedContent, topRated, bottomRated) combinam os
        dois tipos num só top 10. watchCountByDecade e watchCountByCountry dependem de releaseYear/
        countries terem sido informados na referência do Content (campos opcionais — ver ContentRefCreation).
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AllTimeStats" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/series/{seriesTmdbId}/episode-ratings:
    get:
      tags: [Users]
      summary: Notas de episódios de um usuário para uma série, estilo SeriesGraph
      description: >
        Grade temporada x episódio com a nota que o usuário deu a cada episódio já assistido dessa
        série. Em caso de rewatch (watchNumber > 1), usa a nota do watchNumber mais alto. Informações
        da série (título, pôster, lista de temporadas/episódios) não vêm daqui — Content nunca guarda
        esse dado, é trabalho do cliente buscar na TMDB usando o mesmo seriesTmdbId.
      parameters:
        - $ref: "#/components/parameters/userId"
        - name: seriesTmdbId
          in: path
          required: true
          description: tmdbId nativo do TMDB da série (não é um ID interno do Watchwise).
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EpisodeRatingsGrid" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }

  /users/{userId}/episode-ratings-map:
    get:
      tags: [Users]
      summary: Mapa de episódios assistidos por série de um usuário
      description: >
        Lista todas as séries nas quais o usuário registrou pelo menos um episódio regular,
        incluindo séries já concluídas. `watchedEpisodeCount` conta pares distintos de
        temporada/episódio, ignorando rewatches e a temporada 0 (Specials). `totalEpisodeCount`
        vem dos snapshots compartilhados de progresso e soma somente episódios regulares com
        `air_date` válida até hoje, sem episódios futuros ou sem data. Título, pôster e demais
        metadados da série continuam sendo responsabilidade do cliente via TMDB usando o
        `seriesTmdbId` retornado.
      parameters:
        - $ref: "#/components/parameters/userId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EpisodeRatingsMap" }
        "403": { description: Perfil privado e quem pede não é seguidor aceito }
        "404": { description: Usuário não encontrado }
        "502": { description: TMDB indisponível para hidratar um snapshot frio }

  /users/me/calendar:
    get:
      tags: [Users]
      summary: Calendário mensal de lançamentos relevantes
      description: >
        Retorna os filmes e episódios de séries que estão na watchlist ou em acompanhamento,
        agrupando temporadas/séries quando o calendário possui evidência completa. `month` usa o
        formato `YYYY-MM`; a região é a preferredRegion do usuário autenticado. Os eventos vêm de
        snapshots compartilhados e cacheados no backend, não de um cache da resposta específica do
        usuário. Datas ausentes no TMDB não geram evento. A resposta pode conter eventos já lançados
        e futuros; o cliente decide ocultar/fazer fade por releaseStatus e watchStatus.
      parameters:
        - name: month
          in: query
          required: true
          description: Mês solicitado no formato uuuu-MM.
          schema: { type: string, pattern: '^[0-9]{4}-(0[1-9]|1[0-2])$' }
      responses:
        "200":
          description: Calendário do mês.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CalendarResponse" }
        "400": { description: Parâmetro month ausente ou inválido. Retorna ApiError. }
        "401": { description: Autenticação ausente. Retorna ApiError. }
        "502": { description: TMDB indisponível sem snapshot válido. Retorna ApiError. }

  # ---------- CONTENT (referência local) ----------
  # ---------- PEOPLE ----------
  /people/{personTmdbId}:
    get:
      tags: [People]
      summary: Retrieve a TMDB person and filmography for the authenticated viewer
      security:
        - cookieAuth: []
      description: >
        Merges duplicated cast and crew credits by media type and TMDB ID, returning only MOVIE and
        SERIES. `participation` filters the merged credits; a credit with both roles matches CAST and
        CREW. `progress` is always calculated from the complete filmography, before filtering and
        pagination. `isWatched` reflects any viewer DiaryEntry for the movie or series, including its
        episodes or seasons; `isInList` reflects direct MOVIE/SERIES UserListItem membership, including
        containment through a child list, and does not propagate from seasons or episodes. Hide/fade behavior is a
        client presentation decision based on those flags.
      parameters:
        - $ref: "#/components/parameters/personTmdbId"
        - name: participation
          in: query
          description: Credit participation filter. Defaults to ALL.
          schema: { type: string, enum: [ALL, CAST, CREW], default: ALL }
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: Person, viewer progress, and a page of credits
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PersonResponseDTO" }
        "400":
          description: Invalid personTmdbId, participation, page, or size; returns ApiError
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "401":
          description: Unauthenticated; returns ApiError
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404":
          description: TMDB person or viewer not found; returns ApiError
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "502":
          description: TMDB unavailable; returns ApiError
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }

  # ---------- PICKS TEMPLATES ----------
  /picks-templates:
    post:
      tags: [Picks Templates]
      summary: Criar template de Picks
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PicksTemplateCreation" }
      responses:
        "201": { description: Template criado, content: { application/json: { schema: { $ref: "#/components/schemas/PicksTemplate" } } } }
        "400": { description: Corpo inválido, datas de elegibilidade inválidas ou opção fixa incompatível }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para criar template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "409": { description: Conflito de alvo ou estrutura }
        "502": { description: TMDB indisponível }
    get:
      tags: [Picks Templates]
      summary: Listar templates de Picks
      description: >
        Sem `sort`, preserva a ordenação alfabética por nome. `POPULAR_WEEK` ordena pelo score de
        atividade na janela móvel dos sete dias anteriores à consulta e inclui somente templates com
        score/atividade positivo; se houver menos de cinco templates ativos, a página pode ter menos
        resultados, sem incluir templates inativos. `MOST_PICKED` ordena pela quantidade total de Picks
        visíveis para o viewer; `RECENT` ordena pelos templates mais recentes.
      parameters:
        - { name: origin, in: query, schema: { type: string, enum: [OFFICIAL, COMMUNITY] } }
        - { name: name, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: size, in: query, schema: { type: integer, minimum: 1 } }
        - name: sort
          in: query
          description: Omitido mantém a ordenação alfabética; `POPULAR_WEEK` usa o score rolling de sete dias.
          schema: { type: string, enum: [POPULAR_WEEK, MOST_PICKED, RECENT] }
      responses:
        "200": { description: Página de templates, content: { application/json: { schema: { $ref: "#/components/schemas/PicksTemplatePreviewPage" } } } }
        "400": { description: Paginação inválida ou falha de binding do enum sort; retorna ApiError }
        "401": { description: Não autenticado }

  /picks-templates/{templateId}:
    parameters:
      - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Picks Templates]
      summary: Consultar template de Picks
      responses:
        "200": { description: Template, content: { application/json: { schema: { $ref: "#/components/schemas/PicksTemplate" } } } }
        "401": { description: Não autenticado }
        "404": { description: Template não encontrado }
    patch:
      tags: [Picks Templates]
      summary: Atualizar template de Picks
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PicksTemplatePatch" }
      responses:
        "200": { description: Template atualizado, content: { application/json: { schema: { $ref: "#/components/schemas/PicksTemplate" } } } }
        "400": { description: Corpo ou período de elegibilidade inválido }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para gerenciar o template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template não encontrado }
        "409": { description: Período de elegibilidade não pode ser alterado porque uma categoria de conteúdo já foi usada }
    delete:
      tags: [Picks Templates]
      summary: Excluir ou desvincular template de Picks
      description: Quando já há Picks, preserva o template e seus dados, mas desvincula o creator. Sem Picks, remove o agregado do template.
      responses:
        "204": { description: Template removido ou creator desvinculado }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para gerenciar o template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template não encontrado }

  /picks-templates/{templateId}/comments:
    parameters:
      - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Comments]
      summary: Listar comentários de um template de Picks
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: size, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Página de comentários, content: { application/json: { schema: { $ref: "#/components/schemas/CommentPage" } } } }
        "401": { description: Não autenticado }
        "404": { description: Template não encontrado }
    post:
      tags: [Comments]
      summary: Comentar em um template de Picks
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/CommentCreation" } }
      responses:
        "201": { description: Comentário criado, content: { application/json: { schema: { $ref: "#/components/schemas/Comment" } } } }
        "400": { description: Parent comment belongs to another target }
        "401": { description: Não autenticado }
        "404": { description: Template ou comentário-pai não encontrado }

  /picks-templates/{templateId}/like:
    post:
      tags: [Likes]
      summary: Curtir um template de Picks
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "204": { description: Curtido }
        "401": { description: Não autenticado }
        "404": { description: Template não encontrado }
    delete:
      tags: [Likes]
      summary: Remover curtida de um template de Picks
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "204": { description: Curtida removida }
        "401": { description: Não autenticado }

  /picks-templates/{templateId}/categories:
    parameters:
      - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [Picks Templates]
      summary: Adicionar categoria ao template
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PicksTemplateCategoryCreation" }
      responses:
        "201": { description: Categoria criada, content: { application/json: { schema: { $ref: "#/components/schemas/PicksTemplateCategory" } } } }
        "400": { description: Corpo inválido ou categoria OPEN com opções fixas }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para gerenciar o template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template não encontrado }
        "409": { description: Conflito de alvo/estrutura }
        "502": { description: TMDB indisponível }

  /picks-templates/{templateId}/categories/{categoryId}:
    parameters:
      - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: categoryId, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      tags: [Picks Templates]
      summary: Atualizar categoria do template
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PicksTemplateCategoryPatch" }
      responses:
        "200": { description: Categoria atualizada, content: { application/json: { schema: { $ref: "#/components/schemas/PicksTemplateCategory" } } } }
        "400": { description: Corpo inválido }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para gerenciar o template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template ou categoria não encontrado }
        "409": { description: Categoria usada ou estrutura de opções incompatível }
    delete:
      tags: [Picks Templates]
      summary: Excluir categoria do template
      responses:
        "204": { description: Categoria excluída }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para gerenciar o template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template ou categoria não encontrado }
        "409": { description: Categoria com selections não pode ser excluída }

  /picks-templates/{templateId}/categories/{categoryId}/options:
    parameters:
      - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: categoryId, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      tags: [Picks Templates]
      summary: Adicionar opção fixa
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PicksTemplateOptionCreation" }
      responses:
        "201": { description: Opção fixa criada, content: { application/json: { schema: { $ref: "#/components/schemas/PicksTemplateOption" } } } }
        "400": { description: Corpo inválido ou categoria OPEN }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para gerenciar o template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template ou categoria não encontrado }
        "409": { description: Opção fixa duplicada }
        "502": { description: TMDB indisponível }
    get:
      tags: [Picks Templates]
      summary: Listar opções FIXED ou buscar opções OPEN
      description: Em categorias OPEN de MOVIE, SERIES ou PERSON, `q` é obrigatório. PERSON pesquisa pessoas livremente no TMDB; EPISODE exige `seriesTmdbId` e `seasonNumber`. A página preserva os metadados da origem externa.
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: seriesTmdbId, in: query, schema: { type: string, pattern: '^[0-9]+$' } }
        - { name: seasonNumber, in: query, schema: { type: integer, minimum: 0 } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: size, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Página de opções, content: { application/json: { schema: { $ref: "#/components/schemas/PickOptionSearchPage" } } } }
        "400": { description: Parâmetros de busca ou paginação inválidos }
        "401": { description: Não autenticado }
        "404": { description: Categoria não encontrada }
        "429": { description: Limite de busca externa excedido; não se aplica a FIXED }
        "502": { description: TMDB indisponível }

  /picks-templates/{templateId}/categories/{categoryId}/options/{optionId}:
    delete:
      tags: [Picks Templates]
      summary: Excluir opção fixa
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: categoryId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: optionId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "204": { description: Opção excluída }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido, ou sem permissão para gerenciar o template
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template, categoria ou opção não encontrado }
        "409": { description: Opção já usada por selection não pode ser excluída }

  # ---------- PICKS ----------
  /picks-templates/{templateId}/picks:
    get:
      tags: [Picks]
      summary: Listar Picks visíveis de um template
      description: >
        Retorna uma `PageResponse<PickPreview>` filtrada pela visibilidade do viewer: o proprietário
        vê os próprios Picks, e terceiros veem Picks `PUBLIC` ou `FOLLOWERS` quando existe relação
        `ACCEPTED`. O sort padrão é `RECENT`; `POPULAR` ordena por likes e `RECENT` por data de criação.
        A resposta é `PickPreviewPage`, com até cinco categorias respondidas por preview.
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: sort, in: query, description: Ordenação dos Picks; o padrão é `RECENT`., schema: { type: string, enum: [POPULAR, RECENT], default: RECENT } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: size, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Página de previews de Picks visíveis, content: { application/json: { schema: { $ref: "#/components/schemas/PickPreviewPage" } } } }
        "400": { description: Paginação inválida ou falha de binding do enum sort; retorna ApiError }
        "401": { description: Não autenticado }
        "404": { description: Template não encontrado }
    post:
      tags: [Picks]
      summary: Criar Pick em um template
      description: Cada usuário pode criar Picks independentes no mesmo template. A requisição precisa conter pelo menos uma selection válida; o limite é de duas tentativas por minuto por usuário autenticado e é consumido antes de CSRF e binding MVC.
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PickCreation" }
      responses:
        "201": { description: Pick criado, content: { application/json: { schema: { $ref: "#/components/schemas/Pick" } } } }
        "400": { description: Corpo, categoria, alvo ou elegibilidade inválido }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Template ou alvo não encontrado }
        "429": { description: Mais de duas tentativas de criação no minuto }
        "502": { description: TMDB indisponível }

  /picks-templates/{templateId}/my-picks:
    get:
      tags: [Picks]
      summary: Listar meus Picks em um template
      parameters:
        - { name: templateId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: size, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Página de previews de Picks próprios, content: { application/json: { schema: { $ref: "#/components/schemas/PickPreviewPage" } } } }
        "400": { description: Paginação inválida }
        "401": { description: Não autenticado }
        "404": { description: Template não encontrado }
        "502": { description: TMDB indisponível ao validar as selections atuais }

  /picks/{pickId}:
    parameters:
      - { name: pickId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Picks]
      summary: Consultar Pick
      responses:
        "200": { description: Pick visível para o viewer, content: { application/json: { schema: { $ref: "#/components/schemas/Pick" } } } }
        "401": { description: Não autenticado }
        "403": { description: Pick privado para o viewer }
        "404": { description: Pick não encontrado }
        "502": { description: TMDB indisponível ao validar as selections atuais }
    patch:
      tags: [Picks]
      summary: Atualizar visibilidade de Pick próprio
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PickPatch" }
      responses:
        "200": { description: Pick atualizado, content: { application/json: { schema: { $ref: "#/components/schemas/Pick" } } } }
        "400": { description: Corpo inválido }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Pick não encontrado ou não pertence ao usuário }

    delete:
      tags: [Picks]
      summary: Excluir Pick próprio
      responses:
        "204": { description: Pick excluído com suas selections }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Pick não encontrado ou não pertence ao usuário }

  /picks/{pickId}/comments:
    parameters:
      - { name: pickId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [Comments]
      summary: Listar comentários de um Pick
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: size, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Página de comentários, content: { application/json: { schema: { $ref: "#/components/schemas/CommentPage" } } } }
        "401": { description: Não autenticado }
        "403": { description: Pick privado para o viewer }
        "404": { description: Pick não encontrado }
    post:
      tags: [Comments]
      summary: Comentar em um Pick
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: "#/components/schemas/CommentCreation" } }
      responses:
        "201": { description: Comentário criado, content: { application/json: { schema: { $ref: "#/components/schemas/Comment" } } } }
        "400": { description: Parent comment belongs to another target }
        "401": { description: Não autenticado }
        "403": { description: Pick privado para o viewer }
        "404": { description: Pick ou comentário-pai não encontrado }

  /picks/{pickId}/like:
    post:
      tags: [Likes]
      summary: Curtir um Pick
      parameters:
        - { name: pickId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "204": { description: Curtido }
        "401": { description: Não autenticado }
        "403": { description: Pick privado para o viewer }
        "404": { description: Pick não encontrado }
    delete:
      tags: [Likes]
      summary: Remover curtida de um Pick
      parameters:
        - { name: pickId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        "204": { description: Curtida removida }
        "401": { description: Não autenticado }

  /users/{userId}/picks:
    get:
      tags: [Picks]
      summary: Listar Picks visíveis de um usuário
      parameters:
        - { name: userId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: templateId, in: query, schema: { type: string, format: uuid }, description: Filtro opcional pelo template. }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: size, in: query, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Página de previews filtrada por visibilidade, content: { application/json: { schema: { $ref: "#/components/schemas/PickPreviewPage" } } } }
        "400": { description: Paginação inválida }
        "401": { description: Não autenticado }
        "404": { description: Usuário não encontrado }
        "502": { description: TMDB indisponível ao validar as selections atuais }

  /picks/{pickId}/categories/{categoryId}/selection:
    parameters:
      - { name: pickId, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: categoryId, in: path, required: true, schema: { type: string, format: uuid } }
    put:
      tags: [Picks]
      summary: Criar ou substituir selection de um Pick próprio
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PickTarget" }
      responses:
        "200": { description: Pick com selection atualizada, content: { application/json: { schema: { $ref: "#/components/schemas/Pick" } } } }
        "400": { description: Corpo, alvo ou pertencimento da categoria inválido }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Pick ou categoria não encontrado }
        "502": { description: TMDB indisponível }
    delete:
      tags: [Picks]
      summary: Excluir selection de um Pick próprio
      responses:
        "204": { description: Selection excluída }
        "401": { description: Não autenticado }
        "403":
          description: Cookie CSRF ausente ou inválido
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiError" }
        "404": { description: Pick ou selection não encontrado }
        "409": { description: A última selection não pode ser removida }

  /contents/reference:
    post:
      tags: [Content]
      summary: >
        Obter ou criar a referência local de um conteúdo do TMDB
        (identificado por tmdbId + type, mais seriesTmdbId/seasonNumber/
        episodeNumber quando type é SEASON ou EPISODE). Chamado
        internamente sempre que o usuário interage pela primeira vez
        com um filme, série, temporada ou episódio (comentar, avaliar,
        logar, adicionar a lista, etc). Idempotente. Na primeira vez que
        um tmdbId/seriesTmdbId é referenciado (nenhum Content local ainda
        existe pra ele), o backend verifica a existência no TMDB antes de
        criar a linha (MOVIE/SERIES via tmdbId; SEASON/EPISODE via
        seriesTmdbId) — se a referência já existe localmente, essa
        verificação é pulada (nunca chama o TMDB de novo pra algo que já
        foi confirmado real antes, por qualquer usuário). Nessa mesma
        checagem, pra MOVIE/SERIES, o backend também deriva
        genres/releaseYear/countries (e runtimeMinutes, só pra MOVIE) da
        resposta do TMDB já obtida — sem custo de chamada extra — e
        preenche automaticamente numa referência já existente que ainda
        não os tenha (best-effort, nunca bloqueia a requisição). Pra
        EPISODE fora de um /diary/bulk (que já deriva runtimeMinutes por
        conta própria), o backend faz uma chamada adicional ao TMDB pra
        aquele episódio específico pra derivar runtimeMinutes — o que
        também verifica, pela primeira vez, que aquele número de episódio
        realmente existe (SEASON continua verificando só a série-mãe, não
        o número da temporada em si). Ver ContentRefCreation.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContentRefCreation" }
      responses:
        "200":
          description: Referência obtida ou criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentRef" }
        "400":
          description: >
            Combinação de campos inválida para o type informado (ex:
            tmdbId ausente para MOVIE/SERIES, ou seriesTmdbId/seasonNumber
            ausente para SEASON/EPISODE), ou runtimeMinutes/genres/releaseYear/
            countries informados por um cliente — todos são sempre derivados
            do TMDB pelo backend, nunca aceitos na requisição (ver
            ContentRefCreation).
        "404":
          description: >
            O tmdbId (MOVIE/SERIES) ou seriesTmdbId (SEASON) não corresponde
            a nenhum título real no TMDB — só verificado na primeira vez que
            essa referência é criada, nunca para uma já existente. Pra
            EPISODE, também cobre o número do episódio específico não
            corresponder a nenhum episódio real da temporada (verificado ao
            derivar runtimeMinutes).
        "409":
          description: >
            Outro episódio já está marcado como finale desta temporada, ou
            outra temporada já está marcada como finale desta série (ver
            isSeasonFinale/isSeriesFinale em ContentRefCreation).
        "401":
          description: Não autenticado
        "403":
          description: Cookie CSRF ausente ou inválido
        "429":
          description: >
            Muitas chamadas vindas desse usuário. Tente novamente após o
            período configurado.
        "502":
          description: >
            TMDB indisponível após uma tentativa extra de retry, ao
            verificar a existência do tmdbId/seriesTmdbId — só na primeira
            vez que essa referência é criada (inclui a chamada extra pra
            derivar runtimeMinutes de um EPISODE novo).

  /contents/{contentId}/comments:
    get:
      tags: [Comments]
      summary: Listar comentários de um conteúdo
      description: Exige autenticação, como qualquer outra rota fora da discover (ver Access policy no CLAUDE.md).
      parameters:
        - $ref: "#/components/parameters/contentId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/Comment" }
        "401": { description: Não autenticado }
    post:
      tags: [Comments]
      summary: Comentar em um conteúdo
      parameters:
        - $ref: "#/components/parameters/contentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 280 }
                parentCommentId: { type: string, format: uuid, nullable: true }
                containsSpoiler: { type: boolean, default: false }
      responses:
        "201":
          description: Criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Comment" }
        "400": { description: "parentCommentId aponta para um comentário que não pertence a esse conteúdo" }
        "401": { description: Não autenticado }
        "404": { description: "Conteúdo não encontrado, ou parentCommentId não encontrado" }

  /contents/{contentId}/stats:
    get:
      tags: [Content]
      summary: Estatísticas agregadas de um conteúdo entre todos os usuários
      description: >
        Sem entidade própria — agregação de DiaryEntry/Comment por contentId. Um contentId sem
        nenhuma interação ainda devolve averageScore null e os três contadores em 0, nunca 404.
      parameters:
        - $ref: "#/components/parameters/contentId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentStats" }
        "401": { description: Não autenticado }

  /contents/stats:
    get:
      tags: [Content]
      summary: Estatísticas agregadas de vários conteúdos de uma vez (batch)
      description: >
        Mesma agregação de GET /contents/{contentId}/stats, evitando N chamadas — usado pela lista
        de episódios de uma temporada. Devolve um item por id pedido, na mesma ordem, com stats
        zeradas para qualquer id sem interação ainda.
      parameters:
        - name: ids
          in: query
          required: true
          schema: { type: array, items: { type: string, format: uuid }, maxItems: 100 }
          style: form
          explode: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/ContentStats" } }
        "400": { description: "ids ausente/vazio, ou mais de 100 ids" }
        "401": { description: Não autenticado }

  /contents/{contentId}/details:
    get:
      tags: [Content]
      summary: Detalhe de um conteúdo, resolvido pelo backend via proxy do TMDB
      description: >
        O backend resolve tmdbId (MOVIE/SERIES) ou seriesTmdbId+seasonNumber(+episodeNumber)
        (SEASON/EPISODE) do Content, chama o TMDB com preferredLanguage do usuário autenticado
        (ver UserResponseDTO), cacheia a resposta (chave inclui o idioma, não a região — Caffeine,
        TTL configurável) e devolve já com o título resolvido (tradução → título alternativo da
        preferredRegion do usuário → título original) e watchProviders já filtrado pra
        preferredRegion. SEASON/EPISODE reaproveitam gêneros/países/elenco regular/criadores da
        SERIES do mesmo seriesTmdbId (mesma resposta cacheada), igual à regra que Content.genres/
        countries já usa. Nenhuma chamada ao TMDB é feita pelo cliente.
      parameters:
        - $ref: "#/components/parameters/contentId"
        - name: posterUserId
          in: query
          required: false
          description: >
            Usuario cujo poster customizado deve ser resolvido. Se omitido, usa o poster do viewer
            autenticado. Quando informado, o viewer precisa ter acesso ao perfil desse usuario;
            em uma pagina direta de conteudo, omita este parametro mesmo que a navegacao tenha vindo
            de um perfil.
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContentDetailsDTO" }
        "401": { description: Não autenticado }
        "403": { description: Perfil do posterUserId privado e nao visivel ao viewer }
        "404": { description: Content, posterUserId ou usuário autenticado não encontrado }
        "502": { description: TMDB indisponível após uma tentativa extra de retry }

  /contents/details:
    get:
      tags: [Content]
      summary: Detalhe de vários conteúdos de uma vez (batch), mesma resolução de GET /contents/{contentId}/details
      description: >
        Mesma resolução de GET /contents/{contentId}/details, evitando N chamadas — usado por toda
        tela que lista Content (diário, listas, Top5, watchlist, feed, rankings de summary). Devolve
        um item por id pedido, na mesma ordem.
      parameters:
        - name: ids
          in: query
          required: true
          schema: { type: array, items: { type: string, format: uuid }, maxItems: 100 }
          style: form
          explode: true
        - name: posterUserId
          in: query
          required: false
          description: >
            Usuario cujos posters customizados devem ser resolvidos para todos os ids. Se omitido,
            usa o poster do viewer autenticado. Quando informado, o viewer precisa ter acesso ao
            perfil desse usuario; em uma pagina direta de conteudo, omita este parametro.
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { type: array, items: { $ref: "#/components/schemas/ContentDetailsDTO" } }
        "400": { description: "ids ausente/vazio, ou mais de 100 ids" }
        "401": { description: Não autenticado }
        "403": { description: Perfil do posterUserId privado e nao visivel ao viewer }
        "404": { description: Algum content, posterUserId ou o usuário autenticado não encontrado }
        "502": { description: TMDB indisponível após uma tentativa extra de retry }

  /contents/{contentId}/reviews:
    get:
      tags: [Diary]
      summary: Listar reviews de um conteúdo entre todos os usuários
      description: >
        DiaryEntry com comment preenchido, de qualquer usuário, escopado por contentId — diferente
        de hasReview=true em GET /users/{userId}/diary (escopado por um único usuário). Cada review
        segue a mesma regra de visibilidade de perfil privado já usada em curtidas/comentários de
        diário (dono, perfil público, ou perfil privado que o viewer segue com status aceito).
      parameters:
        - $ref: "#/components/parameters/contentId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/ContentReview" }
        "401": { description: Não autenticado }
        "404": { description: Conteúdo não encontrado }

  # ---------- COMMENTS (por id) ----------
  /comments/{commentId}:
    delete:
      tags: [Comments]
      summary: Remover um comentário próprio
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Removido }
        "401": { description: Não autenticado }
        "404": { description: "Comentário não encontrado, ou não pertence ao usuário autenticado" }

  /comments/{commentId}/like:
    post:
      tags: [Likes]
      summary: Curtir um comentário
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Curtido }
        "401": { description: Não autenticado }
        "403": { description: "O comentário está em uma lista ou registro de diário privado que o viewer não pode ver" }
        "404": { description: Comentário não encontrado }
    delete:
      tags: [Likes]
      summary: Remover curtida de um comentário
      parameters:
        - $ref: "#/components/parameters/commentId"
      responses:
        "204": { description: Curtida removida }
        "401": { description: Não autenticado }

  # ---------- LISTS ----------
  /users/{userId}/lists:
    get:
      tags: [Lists]
      summary: Listar as listas de um usuário
      description: >
        Duas camadas de visibilidade combinadas. Primeiro, a mesma regra padrão usada em
        Top5/Watchlist/Dropped/DiaryEntry: se o perfil do dono for privado e o viewer não for o
        próprio dono nem seguir o dono com status aceito, a requisição inteira é bloqueada com 403,
        antes de sequer olhar as listas. Passada essa barreira (perfil público, ou viewer é o dono,
        ou viewer segue o dono), cada lista tem sua própria visibilidade (PUBLIC/FOLLOWERS/PRIVATE —
        ver UserListCreation): o dono sempre vê todas as suas listas; qualquer outro viewer só vê as
        PUBLIC, mais as FOLLOWERS se de fato seguir o dono com status aceito — nunca vê PRIVATE.
        Paginado, igual às demais listagens sem teto por usuário. Cada lista no array content já vem
        com previewItems (até 5 primeiros itens de conteúdo) e nestedListsCount (ver schema UserList),
        pensado pra renderizar a listagem sem precisar de uma chamada extra por lista.
      parameters:
        - $ref: "#/components/parameters/userId"
        - $ref: "#/components/parameters/page"
        - name: size
          in: query
          description: Itens por pagina; assume 10 se omitido. O minimo e o maximo sao 10; valores acima de 10 sao limitados a 10.
          schema: { type: integer, minimum: 10, maximum: 10, default: 10 }
        - name: sortBy
          in: query
          description: >
            rank, updatedAt, name e likesCount ordenam por coluna real de UserList (mais recente/
            maior primeiro por padrão — ver sortDirection). itemsCount e commentsCount agregam
            (JOIN + COUNT) numa query nativa própria, não pela coluna. Valor desconhecido é 400.
          schema: { type: string, enum: [rank, updatedAt, name, likesCount, itemsCount, commentsCount] }
        - name: sortDirection
          in: query
          description: "asc ou desc (default varia pelo campo — ver sortBy). Valor desconhecido é 400."
          schema: { type: string, enum: [asc, desc] }
        - name: contentId
          in: query
          description: >
            Quando informado, cada lista no array content vem com containsContent preenchido
            (true/false) em vez de null, indicando se esse content já está na lista — pensado pra
            tela de "adicionar a uma lista" a partir da tela de um content marcar as listas que já
            o contêm. Um contentId que não existe simplesmente resolve containsContent=false pra
            todas as listas, sem erro.
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/UserList" }
        "400": { description: "Número/tamanho de página inválido, sortBy desconhecido, ou userId não é um UUID válido" }
        "403": { description: "Perfil do dono é privado e o viewer não é o dono nem o segue com status aceito" }
        "404": { description: Usuário não encontrado }

  /users/me/liked-lists:
    get:
      tags: [Lists]
      summary: Listar as listas que o usuário autenticado curtiu
      description: >
        Sempre auto-visão (não existe GET /users/{userId}/liked-lists) — não precisa resolver
        visibilidade de terceiro, já que o viewer só pode estar vendo as próprias curtidas.
        Paginado, ordenado pela curtida mais recente primeiro. Cada lista no array content vem
        no mesmo formato de GET /users/{userId}/lists (previewItems, nestedListsCount,
        itemsCount, commentsCount etc.).
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/UserList" }
        "400": { description: Número/tamanho de página inválido }

  /users/me/lists:
    post:
      tags: [Lists]
      summary: Criar uma nova lista para o usuário autenticado
      description: >
        Sempre em nome do usuário autenticado — diferente de GET /users/{userId}/lists (que aceita
        qualquer userId pra ver listas de terceiros), não existe POST /users/{userId}/lists,
        seguindo o mesmo padrão de /users/me/top5/{type}, /users/me/watchlist/{type} e
        /users/me/dropped/{type}/{tmdbId}: a posse nunca depende de um userId vindo do cliente.
        visibility omitido tem default PUBLIC.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListCreation" }
      responses:
        "201":
          description: Criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserList" }
        "400": { description: name ausente/vazio }
        "403": { description: Cookie CSRF ausente ou inválido }

  /users/me/lists/bulk:
    post:
      tags: [Lists]
      summary: Criar uma lista já populada com vários itens de conteúdo (filmes e/ou séries)
      description: >
        Atalho para não precisar chamar POST /users/me/lists seguido de N chamadas a
        POST /lists/{listId}/items: cria a lista e insere todo o array items, na ordem enviada,
        na mesma transação — tudo ou nada, um item inválido ou duplicado (dentro do próprio
        payload ou já existente na lista, o que é impossível numa lista recém-criada) reverte a
        lista inteira, não só o item que falhou. Cada item é resolvido pelo mesmo caminho
        get-or-create idempotente usado por POST /contents/reference, e cai nas mesmas regras de
        item único usadas por POST /lists/{listId}/items. Só aceita content (Conteudo) por item —
        para adicionar uma lista aninhada como item, crie a lista aqui (sem itens ou com outros
        filmes/séries) e use POST /lists/{listId}/items depois. items exige entre 1 e 100
        entradas. visibility omitido tem default PUBLIC, igual a POST /users/me/lists. Na resposta
        201, items é o conjunto completo de itens criados, na ordem enviada — não uma página;
        itemsSize e itemsTotalElements são iguais à quantidade de itens criados, itemsTotalPages é
        0 quando o conjunto está vazio e 1 caso contrário, e itemsHasNext é sempre false.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserListBulkCreation" }
      responses:
        "201":
          description: Criada com os itens
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserListDetailed" }
        "400": { description: "name ausente/vazio, items ausente/vazio/maior que 100, ou algum item de content inválido" }
        "403": { description: Cookie CSRF ausente ou inválido }
        "404":
          description: >
            Algum tmdbId/seriesTmdbId dos items não corresponde a nenhum título real no TMDB —
            só verificado na primeira vez que essa referência é criada (ver POST /contents/reference);
            reverte a lista inteira, igual a qualquer outra falha do bulk.
        "409": { description: "Dois itens do payload apontam para o mesmo conteúdo (duplicata dentro do próprio bulk)" }
        "502":
          description: >
            TMDB indisponível ao verificar a existência de algum tmdbId/seriesTmdbId — só na
            primeira vez que essa referência é criada (ver POST /contents/reference).

  /lists/discover:
    get:
      tags: [Lists]
      summary: Descobrir listas públicas
      description: >
        Endpoint autenticado para descobrir listas públicas. Retorna somente listas com
        visibility=PUBLIC, independentemente da visibilidade do perfil do dono. A ordenação é fixa:
        likesCount decrescente, createdAt decrescente e UUID decrescente como desempate determinístico.
      parameters:
        - $ref: "#/components/parameters/page"
        - name: size
          in: query
          description: Itens por página; assume 10 se omitido. O mínimo e o máximo são 10; valores acima de 10 são limitados a 10.
          schema: { type: integer, minimum: 10, maximum: 10, default: 10 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageMeta"
                  - type: object
                    properties:
                      content:
                        type: array
                        items: { $ref: "#/components/schemas/UserList" }
        "400": { description: "Número/tamanho de página inválido" }
        "401": { description: Não autenticado }

  /lists/{listId}:
    get:
      tags: [Lists]
      summary: Obter uma lista com seus itens
      description: >
        Visibilidade checada só pela própria lista (PUBLIC/FOLLOWERS/PRIVATE — ver
        UserListCreation), nunca pelo perfil do dono estar público ou privado: diferente de
        GET /users/{userId}/lists (que bloqueia a listagem inteira se o perfil do dono for privado
[...]
